
<div class="row">
    <!-- Column 1 of Row 2 -->
    <div class="col-sm-6">
        <!-- Statistics Tile -->
        <div class="dash-tile dash-tile-2x">
            <div class="dash-tile-header">
                <div class="dash-tile-options">
                    <div id="example-advanced-daterangepicker" class="btn btn-default">
                        <i class="fa fa-calendar"></i>
                        <span></span>
                        <b class="caret"></b>
                    </div>
                </div>
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="dash-tile-content">
                <div id="dash-example-stats" class="dash-tile-content-inner"></div>
            </div>
        </div>
        <!-- END Statistics Tile -->
    </div>
    <!-- END Column 1 of Row 2 -->
    <!-- Column 2 of Row 2 -->
    <div class="col-sm-3">
        <!-- Projects Tile -->
        <div class="dash-tile dash-tile-2x">
            <div class="dash-tile-header">
                <div class="dash-tile-options">
                    <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Manage projects"><i class="fa fa-cog"></i></a>
                </div>
                Projects
            </div>
            <div class="dash-tile-content">
                <div class="dash-tile-content-inner scrollable-tile-2x">
                    <h5 class="page-header-sub"><a href="javascript:void(0)">#1 - Project</a></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 100%"><i class="fa fa-check"></i> Done!</div>
                    </div>
                    <h5 class="page-header-sub"><a href="javascript:void(0)">#2 - Project</a></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 75%">75%</div>
                    </div>
                    <h5 class="page-header-sub"><a href="javascript:void(0)">#3 - Project</a></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" style="width: 50%">50%</div>
                    </div>
                    <h5 class="page-header-sub"><a href="javascript:void(0)">#4 - Project</a></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" style="width: 20%">20%</div>
                    </div>
                    <h5 class="page-header-sub"><a href="javascript:void(0)">#5 - Project</a></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 85%">85%</div>
                    </div>
                    <h5 class="page-header-sub"><a href="javascript:void(0)">#6 - Project</a></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 95%">95%</div>
                    </div>
                    <h5 class="page-header-sub"><a href="javascript:void(0)">#7 - Project</a></h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" style="width: 60%">60%</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Projects Tile -->
    </div>
    <!-- END Column 2 of Row 2 -->
    <!-- Column 3 of Row 2 -->
    <div class="col-sm-3">
        <!-- Alerts Tile -->
        <div class="dash-tile dash-tile-2x">
            <div class="dash-tile-header">
                <div class="dash-tile-options">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <a href="javascript:void(0)" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0)" class="btn btn-success"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">System</a></li>
                            <li><a href="javascript:void(0)">Projects</a></li>
                            <li><a href="javascript:void(0)">Users</a></li>
                        </ul>
                    </div>
                </div>
                Alerts
            </div>
            <div class="dash-tile-content">
                <div class="dash-tile-content-inner scrollable-tile-2x">
                    <h5 class="page-header-sub">Today</h5>
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa fa-barcode"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                    <div class="alert alert-success">
                        <i class="fa fa-unlock"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa fa-bell-o"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                    <div class="alert alert-info">
                        <i class="fa fa-signal"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                    <h5 class="page-header-sub">Yesterday</h5>
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa fa-barcode"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                    <div class="alert alert-warning">
                        <i class="fa fa-barcode"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa fa-facebook"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                    <div class="alert alert-danger">
                        <i class="fa fa-align-justify"></i> <strong>Check out!</strong> This is a notification!
                    </div>
                </div>
            </div>
        </div>
        <!-- END Alerts Tile -->
    </div>
    <!-- END Column 3 of Row 2 -->
</div>
