



    <!-- Page Loader -->
    <!-- Page Loader -->
<article id="pageloader" class="dark-loader">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</article>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="/marble/showmarbles">Marble</a>
                    </li>

                    @*<li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                       <li>@Html.ActionLink("About", "About", "Home")</li>
                       <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                       @Html.Partial("_LoginPartial")*@

                   
                    <li class="dropdown-toggle nav-toggle">
                        <a href="/provider/ShowAllProviders" class="ex-link">Providers</a>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="/Home/About" class="ex-link">About</a>

                    </li>

                    <li class="dropdown-toggle nav-toggle">
                        <a href="/Home/Contact">Contact</a>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="pages-shop-4-col.html" class="ex-link">Shop</a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-left clearfix">
                            <li><a href="pages-shop-4-col.html" class="ex-link">4 Columns</a></li>
                            <li><a href="pages-shop-3-col.html" class="ex-link">3 Columns</a></li>
                            <li><a href="pages-shop-2-col.html" class="ex-link">2 Columns</a></li>
                            <li><a href="pages-shop-single.html" class="ex-link">Single Product</a></li>
                        </ul>
                        <!-- End DropDown Menu -->
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="#" class="tahoma"><i class="fa fa-search"></i></a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-right clearfix">
                            <li class="ml-20 mt-15 mr-20 mb-15 raleway mini-text gray">
                                <form method="post" class="search-form">
                                    <input type="text" name="search" id="search" class="transparent uppercase" placeholder="Search...">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="#" class="tahoma"><i class="fa fa-shopping-cart"></i> (0)</a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-right clearfix">
                            <li class="ml-20 mt-15 mr-20 mb-15 raleway mini-text gray">No Product In The Cart</li>
                        </ul>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="#" class="tahoma">Eng<i class="fa fa-angle-down"></i></a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-right clearfix">
                            <li><a href="#" class="scroll">English</a></li>
                            <li><a href="#" class="scroll">Germany</a></li>
                            <li><a href="#" class="scroll">Spanish</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End Nav List -->
            </div>
            <!-- End Navigation Links -->
        </div>
        <!-- End Navigation Inner -->

    </div>

</nav>
<!-- End Nav -->
<!-- Page Header - litle-header or bigger-header - soft-header, dark-header or background -->
<section id="page-header" class="soft-header litle-header">
    <!-- Page Header Inner -->
    <div class="page_header_inner clearfix dark">
        <!-- Left -->
        <div class="left f-left">
            <!-- Header -->
            <h2 class="page_header light">
                Portfolio - show marble WORKS
            </h2>
            <!-- Sub Page Text -->
            <h5 class="page_note light">
                Crexis One&amp;Multipage Creative Theme
            </h5>
        </div>
        <!-- Right -->
        <div class="right f-right">
            <!-- Right Buttons -->
            <a href="#" class="light">
                Home /
            </a>
            <!-- Button -->
            <a href="#" class="light">
                About Us
            </a>
        </div>
        <!-- End Right -->
    </div>
    <!-- End Inner -->
</section>
<!-- End #page-header -->
