<nav id="navigation" class="dark-nav">
    <!-- Navigation -->
    <div class="navigation first-nav double-nav raleway"  style="background-color:#151515">
        <!-- Navigation Inner -->
        <div class="nav-inner clearfix">

            <!-- Logo Area -->
            <div class="logo f-left">
                <!-- Logo Link -->
                <a href="#home" class="logo-link scroll">
                    <img style="border-radius:30px;" src="~/Content/imagesMARBLE/Logo.png" data-second-logo="images/logo/logo_condensed_dark.png" alt="crexis_logo" />
                </a>
            </div>
            <!-- End Logo Area -->
            <!-- Mobile Menu Button -->
            <a class="mobile-nav-button"><i class="fa fa-bars"></i></a>

            <!-- Navigation Links -->
            <div class="nav-menu clearfix f-right">

                <!-- Nav List -->
                <ul class="nav uppercase normal big-texts oswald">

                    <li class="dropdown-toggle nav-toggle">
                        <a href="/">Home</a>
                    </li>

                    <li class="dropdown-toggle nav-toggle">
                        <a href="/marble/showmarbles">Marble</a>
                    </li>

                    <li class="dropdown-toggle nav-toggle">
                        <a href="/provider/ShowAllProviders">Providers</a>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="/Home/About" class="ex-link">About</a>
                    </li>

                    <li class="dropdown-toggle nav-toggle">
                        <a href="/Home/Contact">Contact</a>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="#" class="tahoma"><i class="fa fa-search"></i></a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-right clearfix">
                            <li class="ml-20 mt-15 mr-20 mb-15 raleway mini-text gray">
                                <form method="post" class="search-form">
                                    <input type="text" name="search" id="search" class="transparent uppercase" placeholder="Search...">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <!--LOG-IN START-->
                    @Html.Partial("_CrexisLoginPartial")
                    <!--LOG-IN END-->
                </ul>                
                <!-- End Nav List -->
            </div>
            <!-- End Navigation Links -->
        </div>
        <!-- End Navigation Inner -->

    </div>

</nav>