<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">   
        <li> @*<span class="badge pull-right">25        αυτό είναι το νούμερο το οποίο εμφανίζεται ως συννεφάκι δίπλα σε κάθε κατηγορία*@
    <a href="#"><span class="badge pull-right">25</span>About</a>  @*"Index", "Home"*@
</li>
        <li>
            <a href="#"><span class="badge pull-right">22</span> Dashboard</a> @*"Index", "Dashboard"*@
        </li>
        <li>
            <a href="#"><span class="badge pull-right">41</span> DatePickers</a> @*"Index", "Calendar"*@
        </li>
        <li>
            <a href="#"><span class="badge pull-right">1</span> Statistics (Charts)</a>  @*"Index", "Statistics"*@
        </li>
        <li>
            <a href="#"><span class="badge pull-right">11</span>Forms</a> @*"Index", "Forms"*@
        </li>
        <li>
            <a href="#"><span class="badge pull-right">731</span> Orders</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">812</span> Invoices</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">27</span> Clients</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">1,234</span> Users</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">2,221</span> Messages</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">11</span> Reports</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">83</span> Errors</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">4,231</span> Logs</a>
        </li>
    </ul>
</div>

