<header style="background-color: black" class="u-clearfix u-header u-header" id="sec-c9b8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1">
            <img src="~/Content/images/Logo.png" style="border-radius:20px" class="u-logo-image u-logo-image-1" />
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                    <svg style="color:white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-nav-container">
                <ul style="color:white" class="u-nav u-unstyled u-nav-1">                    
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Home/About" style="padding: 10px 20px;">About</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Home/Contact" style="padding: 10px 20px;">Contact</a>
                    </li>
                    @*<li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Provider" style="padding: 10px 20px;">Providers</a>
                    </li>*@
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Marble/ShowMarbles" style="padding: 10px 20px;">Marble</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Dashboard" style="padding: 10px 20px;">Dashboard</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Account/Register" id="registerLink">Register</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Account/Login" id="loginLink">Log in</a>
                    </li>
                </ul>               
            </div>    
            <div class="u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/">Home</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Home/About">About</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Home/Contact">Contact</a>
                            </li>
                            @*<li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Provider">Providers</a>
                            </li>*@
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Marble/ShowMarbles">Marble</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Dashboard">Dashboard</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Account/Register" id="registerLink">Register</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/Account/Login" id="loginLink">Log in</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>


