<nav id="primary-nav">
    <ul>
        <li>
            <a href="index.html" class="active"><i class="fa fa-fire"></i>Dashboard</a>
        </li>
        <li>
            <a href="page_ui_elements.html"><i class="fa fa-glass"></i>UI Elements</a>
        </li>
        <li>
            <a href="page_typography.html"><i class="fa fa-font"></i>Typography</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-list"></i>Forms</a>
            <ul>
                <li>
                    <a href="page_form_components.html"><i class="fa fa-file-text"></i>Components</a>
                </li>
                <li>
                    <a href="page_form_validation.html"><i class="fa fa-exclamation-triangle"></i>Validation</a>
                </li>
                <li>
                    <a href="page_form_wizard.html"><i class="fa fa-magic"></i>Wizard</a>
                </li>
                <li>
                    <a href="page_form_masked.html"><i class="fa fa-flask"></i>Masked Inputs</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-table"></i>Tables</a>
            <ul>
                <li>
                    <a href="page_tables.html"><i class="fa fa-tint"></i>Styles</a>
                </li>
                <li>
                    <a href="page_datatables.html"><i class="fa fa-th"></i>DataTables</a>
                </li>
                <li>
                    <a href="page_datatables_editable.html"><i class="fa fa-pencil"></i>Editable DataTables</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-leaf"></i>Components</a>
            <ul>
                <li>
                    <a href="page_animations.html"><i class="fa fa-certificate animation-pulse"></i>CSS3 Animations</a>
                </li>
                <li>
                    <a href="page_gallery.html"><i class="fa fa-picture-o"></i>Gallery</a>
                </li>
                <li>
                    <a href="page_inbox.html"><i class="fa fa-envelope"></i>Inbox</a>
                </li>
                <li>
                    <a href="page_chatui.html"><i class="fa fa-comments"></i>ChatUI</a>
                </li>
                <li>
                    <a href="page_charts.html"><i class="fa fa-bar-chart-o"></i>Charts</a>
                </li>
                <li>
                    <a href="page_calendar.html"><i class="fa fa-calendar"></i>Calendar</a>
                </li>
                <li>
                    <a href="page_maps.html"><i class="fa fa-map-marker"></i>Maps</a>
                </li>
                <li>
                    <a href="page_syntax_highlighting.html"><i class="fa fa-flask"></i>Syntax Highlighting</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-tint"></i>Icons</a>
            <ul>
                <li>
                    <a href="page_glyphicons_pro.html"><i class="gi gi-heart"></i>Glyphicons Pro</a>
                </li>
                <li>
                    <a href="page_fontawesome.html"><i class="fa fa-gift"></i>FontAwesome</a>
                </li>
                <li>
                    <a href="page_gemicon.html"><i class="fa fa-smile-o"></i>Gemicon</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-file-o"></i>Pages</a>
            <ul>
                <li>
                    <a href="page_search_results.html"><i class="fa fa-search"></i>Search Results</a>
                </li>
                <li>
                    <a href="page_price_tables.html"><i class="fa fa-ticket"></i>Price Tables</a>
                </li>
                <li>
                    <a href="page_forum.html"><i class="fa fa-comment"></i>Forum</a>
                </li>
                <li>
                    <a href="page_article.html"><i class="fa fa-pencil"></i>Article</a>
                </li>
                <li>
                    <a href="page_invoice.html"><i class="fa fa-book"></i>Invoice</a>
                </li>
                <li>
                    <a href="page_profile.html"><i class="fa fa-user"></i>Profile</a>
                </li>
                <li>
                    <a href="page_faq.html"><i class="fa fa-flag"></i>FAQ</a>
                </li>
                <li>
                    <a href="page_errors.html"><i class="fa fa-exclamation-triangle"></i>Errors</a>
                </li>
                <li>
                    <a href="page_blank.html"><i class="fa fa-circle-o"></i>Blank</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="page_login.html"><i class="fa fa-power-off"></i>Login Page</a>
        </li>
        <li>
            <a href="page_landing.html"><i class="fa fa-rocket"></i>Landing Page</a>
        </li>
    </ul>
</nav>