

<footer class="big-footer fullwidth dark-footer t-left">
    <!-- Footer Inner -->
    <div class="clearfix boxed footer_inner">

        <!-- Box -->
        <div class="col-xs-3">
            <!-- Header -->
            <h3 class="footer_header light no-margin no-padding">
                About Us
            </h3>
            <!-- Text -->
            <p class="footer_text">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.
            </p>
            <!-- Text -->
            <p class="footer_text">
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.
            </p>
        </div>
        <!-- End Box -->
        <!-- Box -->
        <div class="col-xs-3">
            <!-- Header -->
            <h3 class="footer_header light no-margin no-padding">
                Additional Links
            </h3>
            <!-- List -->
            <ol>
                <li>
                    <!-- Link -->
                    <a href="index3.html" class="ex-link">
                        Awesome Parallax Home Page
                    </a>
                </li>
                <li>
                    <!-- Link -->
                    <a href="index4.html" class="ex-link">
                        Home Page Black&amp;White Style
                    </a>
                </li>
                <li>
                    <!-- Link -->
                    <a href="portfolio-masonry-5col.html" class="ex-link">
                        Portfolio Page Masonry Layout
                    </a>
                </li>
                <li>
                    <!-- Link -->
                    <a href="index8.html" class="ex-link">
                        Awesome Fullscreen&amp;Dotted Menu
                    </a>
                </li>
                <li>
                    <!-- Link -->
                    <a href="blog/blog_masonry_6_col.html" class="ex-link">
                        Masonry Blog Style
                    </a>
                </li>
            </ol>
        </div>
        <!-- End Box -->
        <!-- Box -->
        <div class="col-xs-3">
            <!-- Header -->
            <h3 class="footer_header light no-margin no-padding">
                Latest Tweets
            </h3>
            <div class="twitter-feed" data-username="envato" data-count="3"></div>
        </div>
        <!-- End Box -->
        <!-- Box -->
        <div class="col-xs-3">
            <!-- Header -->
            <h3 class="footer_header light no-margin no-padding">
                Flickr
            </h3>
            <!-- Flickr -->
            <div id="flickr_badge_wrapper">
                <!-- Flickr Link -->
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"></script>
            </div>
        </div>
        <!-- End Box -->

    </div>
    <!-- End Footer Inner -->
    <!-- Bottom -->
    <div class="footer_bottom">
        <!-- Bottom Inner -->
        <div class="boxed clearfix">
            <!-- Left, Copyright Area -->
            <div class="left f-left">
                <!-- Text and Link -->
                <p class="copyright">
                    ©2015 ALL RIGHT RESERVED. DESIGNED BY <a href="http://themeforest.net/user/GoldEyes" target="_blank" class="author_link">GOLDEYES THEME</a>
                </p>
            </div>
            <!-- End Left -->
            <!-- Right, Socials -->
            <div class="right f-right">
                <!-- Link -->
                <a href="#" target="_blank" class="social">
                    <i class="fa fa-twitter"></i>
                </a>
                <!-- Link -->
                <a href="#" target="_blank" class="social">
                    <i class="fa fa-facebook"></i>
                </a>
                <!-- Link -->
                <a href="#" target="_blank" class="social">
                    <i class="fa fa-pinterest"></i>
                </a>
                <!-- Link -->
                <a href="#" target="_blank" class="social">
                    <i class="fa fa-tumblr"></i>
                </a>
            </div>
            <!-- End Right -->
        </div>
        <!-- End Inner -->
    </div>
    <!-- End Footer, Bottom -->
</footer>