@model IEnumerable<Omadiko.Entities.Models.Marble>

@{
    ViewBag.Title = "ShowMarbles";
    Layout = "~/Views/Shared/LayOut/_CrexisPortofolio.cshtml";
}

<style>

    .navigation {
        background-color: #222222;
    }

    #portfolio {
        background-color: #222222;
    }
    
    .name {
        color:azure;
    }

    .tags {
        color:azure;
    }

    .details {
        background-color: #222222;
        color: azure;
    }

    #portfolio {
        padding:10px;
    }

    #portfolio-filters {
        color:azure;
    }

/*    img {
        width:468px;
        height:255px;
    }*/

    body {
        background-color:#222222;
    }
</style>
<!-- Portfolio Section -->
<section id="portfolio" class="container 4-columns-margin single boxed">

    <!-- Filters -->
    <div id="portfolio-filters" class="cbp-l-filters-alignCenter normal type2">

        <!-- Filter -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item" style="background-color:#222222; color:azure;">
            All
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".graphic" class="cbp-filter-item" style="color:azure">
            Graphic
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".design" class="cbp-filter-item" style="color:azure">
            Design
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".photography" class="cbp-filter-item" style="color:azure">
            Photography
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".web" class="cbp-filter-item" style="color:azure">
            Web
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>

    </div>
    <!-- End Filters -->


    <!-- Portfolio Items -->
    <div id="portfolio-items" class="fullwidth type2">


        @foreach (var marble in Model)
        {
            <!-- Item -->
            <div class="cbp-item item design">
                <!-- Item Link -->
                <a href="projects/project_01.html" class="cbp-caption ex-link">

                    <!-- Item Image -->
                    <div class="cbp-caption-defaultWrap">
                        <!-- Image Src -->




                        <a href="~/marble/details/@marble.MarbleId">
                            <img src="@Url.Content(marble.Photo.Url)" style="width:280px; height:255px" alt="Crexis">

                        </a>



                       


                        <!-- Item Note -->
                        <div class="item_icon">
                            Icon
                            <p><i class="fa fa-image"></i></p>
                            <p>Photography</p>
                        </div>
                        <!-- End Item Note -->
                    </div>
                    <!-- End Item Image -->
                    <!-- Item Details -->
                    <div class="cbp-caption-activeWrap">
                        <!-- Centered Details -->
                        <div class="center-details">
                            <div class="details" style="width:280px; height:91.8px; ">
                                <!-- Item Name -->
                                <h2 class="name " style="color:azure">
                                    @Html.DisplayFor(modelItem=>marble.Name)
                                </h2>
                                <!-- Tags -->
                                <p class="tags" style="color:azure">
                                    @Html.DisplayFor(modelItem => marble.Country.Name)
                                </p>
                            </div>
                        </div>
                        <!-- End Center Details Div -->
                    </div>
                    <!-- End Item Details -->
                </a>
                <!-- End Item Link -->
            </div>
            <!-- End Item -->

        }
       

    </div>   
    <!-- End Portfolio Items -->




</section>
<!-- End Portfolio Section -->
<!-- Page Note Type 2 -->
<section class="page-note type-2 dark-note">
    <!-- Note -->
    <h4 class="italic t-center normal antialiased">
        <i class="fa fa-quote-left colored"></i>
        Technology is part of the fabric of civilization, and you need to jack into it if you haven’t already. Learn the basics and you’ll be a lot happier.
        <i class="fa fa-quote-right colored"></i>
    </h4>
</section>
<!-- End Page Note Type 2 -->
<!-- Footer -->
