@model IEnumerable<Omadiko.Entities.Models.Marble>

@{
    ViewBag.Title = "ShowMarbles";
    Layout = "~/Views/Shared/_CrexisPortofolio.cshtml";
}

<style>

    .navigation {
        background-color: #1d1d1d;
    }

    #portfolio {
        background-color: #1d1d1d;
    }
    
    .name {
        color:azure;
    }

    .tags {
        color:azure;
    }

    .details {
        background-color:#1d1d1d;
        color:azure;
    }

    #portfolio {
        padding:10px;
    }

    #portfolio-filters {
        color:azure;
    }

/*    img {
        width:468px;
        height:255px;
    }*/

    body {
        background-color:#1d1d1d;
    }
</style>
<!-- Portfolio Section -->
<section id="portfolio" class="container 4-columns-margin single">

    <!-- Filters -->
    <div id="portfolio-filters" class="cbp-l-filters-alignCenter normal type2">

        <!-- Filter -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item" style="color:azure">
            All
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".graphic" class="cbp-filter-item" style="color:azure">
            Graphic
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".design" class="cbp-filter-item" style="color:azure">
            Design
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".photography" class="cbp-filter-item" style="color:azure">
            Photography
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".web" class="cbp-filter-item" style="color:azure">
            Web
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>

    </div>
    <!-- End Filters -->


    <!-- Portfolio Items -->
    <div id="portfolio-items" class="fullwidth type2">

        <!-- Item -->
        <div class="cbp-item item design">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Adranos.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                         Icon 
                        <p><i class="fa fa-image"></i></p>
                        <p>Photography</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name " style="color:azure">
                                Girl In Snow
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Design
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography web">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Arabescato-Corchia.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                         Icon 
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Photography</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name" style="color:azure">
                                Walking on Bridge
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Photography, Web
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item design photography">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Arabescato-Orobico-Grigio.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>Web Design</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name " style="color:azure">
                                Cheese!
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Design
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item web">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Blanco-Alejandra.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Photography</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name " style="color:azure">
                                Trees in the White
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Web
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item web photography">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Milas-NewYork.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Web Design</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name " style="color:azure">
                                Working in Office
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Web, Photography
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design graphic">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Mount-White.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>Photography</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name " style="color:azure">
                                Photography
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Photography, Design
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design web graphic">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Pink.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Web Design</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name " style="color:azure">
                                Train Way
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Web, Graphic
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <!-- Item -->
        <div class="cbp-item item photography design web graphic">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Statuario-Carrara.jpg" style="width:468px; height:255px" alt="Crexis">
                    
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Web Design</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name " style="color:azure">
                                Train Way
                            </h2>
                            <!-- Tags -->
                            <p class="tags" style="color:azure">
                                Web, Graphic
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
    </div>   
    <!-- End Portfolio Items -->




</section>
<!-- End Portfolio Section -->
<!-- Page Note Type 2 -->
<section class="page-note type-2 dark-note">
    <!-- Note -->
    <h4 class="italic t-center normal antialiased">
        <i class="fa fa-quote-left colored"></i>
        Technology is part of the fabric of civilization, and you need to jack into it if you haven’t already. Learn the basics and you’ll be a lot happier.
        <i class="fa fa-quote-right colored"></i>
    </h4>
</section>
<!-- End Page Note Type 2 -->
<!-- Footer -->
