@model IEnumerable<Omadiko.Entities.Models.Marble>

@{
    ViewBag.Title = "ShowMarbles";
}

<style>


    div.content {
        color: #333333 rgb(51,51,51);
        display: block;
        font-family: "Segoe UI",sans-serif;
        font-size:19px;
        height:7587.2px;
        margin-bottom:0px;
        margin-left:23.4375px;
        margin-right:23.45px;
        margin-top:0px;
        position:relative;
        width:421.913px;
        text-size-adjust:100%;
    }

        div.content .body .entry-header {
            font-family: "customfont", sans-serif;
            
            color: #fff;
            margin-bottom: 12px;
            letter-spacing: 0px;
        }

        div.content .body .clearfix {
            max-width: 1280px;
            width: auto;
            height: auto;
            position: relative;
            display: block;
            clear: both;
            left: 0;
            margin: 20px auto 10px;
        }


            div.content .body .clearfix .home__card {
                max-width: 100%;
                width: 300px;
                height: auto;
                position: relative;
                margin: 0 auto;
                margin-bottom: 20px;
                float: none;
                display: block;
                clear: both;
            }

     

       


</style>

<div class="content">

    <div class="body">

        <div class="entry-header">
            
            <h2 >Show Marble2</h2>

        </div>

        <div class="clearfix">


            @foreach (var marble in Model)
            {

                <div  class="home__card">

                    <div class="image">

                        <a href="~/Views/Marble/Details.cshtml"> <img src=@marble.Photo.Url alt=""></a>

                    </div>

                    <div class="details">

                        <span>@marble.Name</span>
                        <span>@marble.Country.Name</span>


                    </div>

                </div>

            }



        </div>

    </div>

</div>