<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <title>Crexis Multipurpose One/Multi Page HTML Theme</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Favicon -->

    <link rel="icon" type="image/png" href="../Content/images/favicon.png" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="../Content/css/reset.css" />
    <link rel="stylesheet" href="../Content/css/animate.min.css" />
    <link rel="stylesheet" href="../Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../Content/css/socials.css" />
    <link rel="stylesheet" href="../Content/css/magnific-popup.css" />
    <link rel="stylesheet" href="../Content/css/flexslider.css" />
    <link rel="stylesheet" href="../Content/css/simpletextrotator.css" />
    <link rel="stylesheet" href="../Content/css/cubeportfolio.min.css" />
    <link rel="stylesheet" href="../Content/css/timeline.css" />
    <link rel="stylesheet" href="../Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="../Content/css/settings-ie8.css" />
    <link rel="stylesheet" href="../Content/css/settings.css" />
    <link rel="stylesheet" href="../Content/css/player/YTPlayer.css" />
    <!-- Page Styles -->
    <link rel="stylesheet" href="../Content/css/style.css" />
    <link rel="stylesheet" href="../Content/css/backgrounds.css" />
    <link rel="stylesheet" href="../Content/css/responsive.css" />
    <!-- End Page Styles -->
    <!-- Page Layout Color, night or dark -->
    <link id="changeable_tone" rel="stylesheet" href="../Content/css/page_tones/dark.css" />
    <!-- End Page Layout Color -->
    <!-- Page Elements Color -->
    <link id="changeable_color" rel="stylesheet" href="../Content/css/colors/red.css" />
    <!-- End Page Elements Color -->
    <!-- Page Fonts / Pacifico-->
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- Raleway-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,,200,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Oswald-->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

    <!-- End CSS Files -->

</head>

<!-- Body Start -->
<body class="parallax dark-layout"">

    <!-- Page Loader -->
    <article id="pageloader" class="dark-loader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </article>

    <!-- Navigation - select your nav color - dark-nav or white-nav -->
    @Html.Partial("Navbar/_CrexisNavBar")
    <!-- End Nav -->
    


    @RenderBody()



    <!-- Footer -->
    @Html.Partial("Footer/_CrexisFooter")
    <!-- End Footer -->
    <!-- JS Files -->

    <script type="text/javascript" src="../Scripts/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.appear.js"></script>
    <script type="text/javascript" src="../Scripts/js/waypoint.js"></script>
    <script type="text/javascript" src="../Scripts/js/modernizr-latest.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../Scripts/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.superslides.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.simple-text-rotator.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.cubeportfolio.js"></script>
    <script type="text/javascript" src="../Scripts/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="../Scripts/js/skrollr.min.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="../Scripts/js/jquery.mb.YTPlayer.js"></script>
    <!-- Revolution Slider -->
    <script type="text/javascript" src="../Scripts/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../Scripts/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../Scripts/js/rev_slider/rev_plugins.js"></script>
    <!-- Page Plugins -->
    <script type="text/javascript" src="../Scripts/js/plugins.js"></script>
    <!-- Portfolio Plugins -->
    <script type="text/javascript" src="../Scripts/js/portfolio.js"></script>
    <!-- Theme Panel -->
    <script type="text/javascript" src="../Scripts/theme_panel/themepanel.js"></script>

</body>
<!-- Body End -->
</html>
