
<style>
    .btn:hover  {
        background-color:darkblue;
    }
</style>

<!-- Navigation - select your nav color - dark-nav or white-nav -->
<nav id="navigation" class="white-nav relative-nav">
    <!-- Navigation -->
    <div class="navigation double-nav raleway" style="background-color:#151515">
        <!-- Navigation Inner -->
        <div class="nav-inner clearfix">

            <!-- Logo Area -->
            <div class="logo f-left">
                <!-- Logo Link -->
                <a href="#home" class="logo-link scroll">
                    <img style="border-radius:30px;" src="/Content/imagesMARBLE/Logo.png" data-second-logo="/Content/imagesMARBLE/Logo.png" alt="TIPOTA" />
                </a>
            </div>
            <!-- End Logo Area -->
            <!-- Mobile Menu Button -->
            <a class="mobile-nav-button"><i class="fa fa-bars"></i></a>

            <!-- Navigation Links -->
            <div class="nav-menu clearfix f-right">

                <!-- Nav List -->
                <ul class="nav uppercase normal">

                    <li class="dropdown-toggle nav-toggle">
                        <a class="btn" href="/">Home</a>

                    </li>

                    <li class="dropdown-toggle nav-toggle">
                        <a href="/marble/showmarbles">Marble</a>
                    </li>

                    @*<li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @Html.Partial("_LoginPartial")*@


                    <li class="dropdown-toggle nav-toggle">
                        <a href="/provider/ShowAllProviders" class="ex-link">Providers</a>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="/Home/About" class="ex-link">About</a>

                    </li>

                    <li class="dropdown-toggle nav-toggle">
                        <a href="/Home/Contact">Contact</a>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="pages-shop-4-col.html" class="ex-link">Shop</a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-left clearfix">
                            <li><a href="pages-shop-4-col.html" class="ex-link">4 Columns</a></li>
                            <li><a href="pages-shop-3-col.html" class="ex-link">3 Columns</a></li>
                            <li><a href="pages-shop-2-col.html" class="ex-link">2 Columns</a></li>
                            <li><a href="pages-shop-single.html" class="ex-link">Single Product</a></li>
                        </ul>
                        <!-- End DropDown Menu -->
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="#" class="tahoma"><i class="fa fa-search"></i></a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-right clearfix">
                            <li class="ml-20 mt-15 mr-20 mb-15 raleway mini-text gray">
                                <form method="post" class="search-form">
                                    <input type="text" name="search" id="search" class="transparent uppercase" placeholder="Search...">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="#" class="tahoma"><i class="fa fa-shopping-cart"></i> (0)</a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-right clearfix">
                            <li class="ml-20 mt-15 mr-20 mb-15 raleway mini-text gray">No Product In The Cart</li>
                        </ul>
                    </li>
                    <li class="dropdown-toggle nav-toggle">
                        <a href="#" class="tahoma">Eng<i class="fa fa-angle-down"></i></a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu pull-right clearfix">
                            <li><a href="#" class="scroll">English</a></li>
                            <li><a href="#" class="scroll">Germany</a></li>
                            <li><a href="#" class="scroll">Spanish</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End Nav List -->
            </div>
            <!-- End Navigation Links -->
        </div>
        <!-- End Navigation Inner -->

    </div>

</nav>
<!-- End Nav -->
