
@*<style>
    #page-header {
        border-top: 1px solid #f0f0f0;
    }
</style>*@

<!-- Page Header - litle-header or bigger-header - soft-header, dark-header or background -->
<section id="page-header" class="soft-header litle-header">
    <!-- Page Header Inner -->
    <div class="page_header_inner clearfix dark">
        <!-- Left -->
        <div class="left f-left">
            <!-- Header -->
            <h2 class="page_header light">
                Portfolio - show marble WORKS
            </h2>
            <!-- Sub Page Text -->
            <h5 class="page_note light">
                Crexis One&amp;Multipage Creative Theme
            </h5>
        </div>
        <!-- Right -->
        <div class="right f-right">
            <!-- Right Buttons -->
            <a href="#" class="light">
                Home /
            </a>
            <!-- Button -->
            <a href="#" class="light">
                About Us
            </a>
        </div>
        <!-- End Right -->
    </div>
    <!-- End Inner -->
</section>
<!-- End #page-header -->
