<style>

    a:hover {
        background-color: #808080 !important;
    }

    .twitter:hover {
        background-color: #808080 !important;
    }

    .tumblr:hover {
        background-color: #808080 !important;
    }

    .linkedin:hover {
        background-color: #808080 !important;
    }

    .facebook:hover {
        background-color: #808080 !important;
    }

    .pinterest:hover {
        background-color: #808080 !important;
    }  

</style>



<!-- PageTop -->
<div id="pagetop" class="white-pagetop" style="background-color:#151515">
    <!-- Inner -->
    <div class="pagetop_inner clearfix">
        <!-- Left Text -->
        <!-- Socials -->
        <div class="f-right socials">
            <!-- Link -->
            <div class="socials">
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <!-- Link -->
                <a href="#" class="tumblr">
                    <i class="fa fa-tumblr"></i>
                </a>
                <!-- Link -->
                <a href="#" class="linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <!-- Link -->
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <!-- Link -->
                <a href="#" class="pinterest">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
        </div>
        <!-- End Socials -->
    </div>
    <!-- End Inner -->
</div>
<!-- End Pagetop -->