<style>

/*    a:hover {
        background-color: #808080 !important;
        text-decoration-color:none;
    }*/

    .socials {
        opacity:0.9;
    }

</style>



<!-- PageTop -->
<div id="pagetop" class="white-pagetop" style="background-color:#151515">
    <!-- Inner -->
    <div class="pagetop_inner clearfix">
        <!-- Left Text -->
        <!-- Socials -->
        <div class="f-right socials">
            <!-- Link -->
            <div class="socials">
                <a href="https://twitter.com/" target="_blank" class="social">
                    <i class="fa fa-twitter"></i>
                </a>
                <!-- Link -->
                <a href="https://www.tumblr.com/" target="_blank" class="social">
                    <i class="fa fa-tumblr"></i>
                </a>
                <!-- Link -->
                <a href="https://www.linkedin.com/" target="_blank" class="social">
                    <i class="fa fa-linkedin"></i>
                </a>
                <!-- Link -->
                <a href="https://www.facebook.com/" target="_blank" class="social">
                    <i class="fa fa-facebook"></i>
                </a>
                <!-- Link -->
                <a href="https://www.pinterest.com.au/" target="_blank" class="social">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
        </div>
        <!-- End Socials -->
    </div>
    <!-- End Inner -->
</div>
<!-- End Pagetop -->