@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayOut/_CrexisPortofolio.cshtml";


}

<!-- Page Header - litle-header or bigger-header - soft-header, dark-header or backgroundx -->
<section id="page-header" class="dark-layout big-header">
    <!-- Page Header Inner -->
    <div class="page_header_inner clearfix white antialiased">
        <!-- Left -->
        <div class="left f-left">
            <!-- Header -->
            <h2 class="page_header">
                Contact Us
            </h2>
            <!-- Sub Page Text -->
            <h5 class="page_note light">
                @*Crexis One&amp;Multipage Creative Theme*@
            </h5>
        </div>
        <!-- Right -->
        <div class="right f-right">
            <!-- Right Buttons -->
            @*<a href="/" class="light">
                Home /
            </a>*@
            <!-- Button -->
            @*<a href="#" class="light">
                Shop
            </a>*@
        </div>
        <!-- End Right -->
    </div>
    <!-- End Inner -->
</section>
<!-- End #page-header -->
<!-- Features With Mobile Section -->
<section id="contact" class="relative contact white-layout">

    <div class="grayscale-bg absolute background42 light-bg parallax9"></div>

    <!-- Inner -->
    <div class="inner t-center clearfix no-black-white animated" data-animation="fadeIn" data-animation-delay="800">
        <!-- Header -->
        <h1 class="header header-style-1 strip dark t-center ">
            Keep In Touch <span class="colored"> With Us</span>
        </h1>
        <!-- Header Text -->
        <p class="light t-center">
            Drop us an Email
        </p>

        <!-- Address and Form -->
        <div class="fullwidth clearfix">

            <!-- Address -->
            <div class="address f-left t-left">

                <!-- Address Header -->
                <div class="address_head">
                    <!-- Header -->
                    <h3>
                        Visit Our Office
                    </h3>
                </div>
                <!-- End Address Header -->
                <!-- Address Box -->
                <a href="tel:0123456789" class="box light hover">
                    <!-- Icon -->
                    <div class="icon">
                        <!-- Icon SRC -->
                        <i class="fa fa-phone colored"></i>
                    </div>
                    <!-- Details -->
                    <div class="details">
                        <h4>
                            Phone
                        </h4>
                        <p>
                            0123 456 789 - 0123 456 788
                        </p>
                    </div>
                    <!-- Right Secret Button -->
                    <div class="button">
                        <img src="images/plus.png" alt="Crexis Plus">
                    </div>
                </a>
                <!-- End Box -->
                <!-- Address Box -->
                <a href="mailto:support@goldeyestheme.com" class="box light hover">
                    <!-- Icon -->
                    <div class="icon">
                        <!-- Icon SRC -->
                        <i class="fa fa-envelope colored"></i>
                    </div>
                    <!-- Details -->
                    <div class="details">
                        <h4>
                            E-Mail;
                        </h4>
                        <p>
                            support@goldeyestheme.com
                        </p>
                    </div>
                    <!-- Right Secret Button -->
                    <div class="button">
                        <img src="images/plus.png" alt="Crexis Plus">
                    </div>
                </a>
                <!-- End Box -->
                <!-- Address Box -->
                <a href="#map" class="box light hover scroll">
                    <!-- Icon -->
                    <div class="icon">
                        <!-- Icon SRC -->
                        <i class="fa fa-map-marker colored"></i>
                    </div>
                    <!-- Details -->
                    <div class="details">
                        <h4>
                            Address;
                        </h4>
                        <p>
                            Street 1352, Melbourne Australia
                        </p>
                    </div>
                    <!-- Right Secret Button -->
                    <div class="button">
                        <img src="images/plus.png" alt="Crexis Plus">
                    </div>
                </a>
                <!-- End Box -->
                <!-- Address Box -->
                <a class="box light">
                    <!-- Details -->
                    <div class="address-note">
                        <h4>
                            Get In Touch
                        </h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum.
                        </p>
                    </div>
                </a>
                <!-- End Box -->
                <!-- Address Box -->
                <div class="socials">

                    <!-- Social Button -->
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <!-- Social Button -->
                    <a href="#" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <!-- Social Button -->
                    <a href="#" class="pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>

                    <!-- Social Button -->
                    <a href="#" class="linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>

                </div>
                <!-- End Box -->

            </div>
            <!-- End Address -->
            <!-- Contact Form -->
            <div class="contact_form f-right">
                <!-- Form -->
                <form id="contact_form" name="cform" class="clearfix form dark_form" method="post" action="php/mail.php">

                    <!-- Name -->
                    <input type="text" name="name" id="name" required placeholder="Name">

                    <!-- Email -->
                    <input type="email" name="email" id="email" required placeholder="E-Mail">

                    <!-- Subject -->
                    <input type="text" name="subject" id="subject" required placeholder="Subject">

                    <!-- Message -->
                    <textarea name="message" id="message" required placeholder="Message"></textarea>

                    <!-- Verify -->
                    <input type="text" name="verify" id="verify" required placeholder="">

                    <!-- Reset Button -->
                    <button type="reset" id="clear" name="clear">Clear</button>
                    <!-- End Reset Button -->
                    <!-- Send Button -->
                    <button type="submit" id="submit" name="submit" class="colored-bg">Send</button>
                    <!-- End Send Button -->
                    <!-- Error Message -->
                    <div class="error_message">
                        <p class="t-left no-margin">
                            <!-- Error Message Icon -->
                            <i class="fa fa-warning"></i>
                            Validation error occured. Please enter the fields and submit it again.
                        </p>
                    </div>
                    <!-- Submit Message -->
                    <div class="submit_message">
                        <p class="t-left no-margin">
                            <!-- Error Message Icon -->
                            <i class="fa fa-check"></i>
                            Thank You ! Your email has been delivered.
                        </p>
                    </div>
                </form>
                <!-- End Form -->
            </div>
            <!-- End Contact Form -->
        </div>
        <!-- End Contact, Address Area -->
    </div>
    <!-- End Inner -->
</section>
<!-- End Contact Section -->
<!-- Map Section -->
<section id="map" class="fullwidth">
    <!-- Google Map Script -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- Google Map ID -->
    <div id="google_map"></div>
</section>
<!-- End Map Section -->
