
<style>

    .fact {
        background-color: #222222;
    }
</style>


<!-- Fun Facts -->
<section class="fun-facts mt-80 background40 parallax5 xdark-bg">


    <h3 style="color:azure"> Η πληρωμη σας απετυχε , προσπαθηστε ξανα !</h3>
  

    <button class="strip_button light block"><a href="/Home" id="loginLink">Return to Home Page </a></button>

</section>
<!-- End Fun Facts Section -->
