@{
    ViewBag.Title = "Home Page";
}




<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_86bb" data-image-width="1200" data-image-height="800">
<div class="u-clearfix u-sheet u-sheet-1">


<div style="padding-top: 200px;" class="u-align-center u-container-style u-group u-shape-rectangle u-group-1">
    <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h4 class="u-text u-text-1">Marble Project</h4>
        <p class="u-text u-text-2">
            As you set out for Ithaka
            hope the voyage is a long one,
            full of adventure, full of discovery.
            Laistrygonians and Cyclops,
            angry Poseidon—don’t be afraid of them:
            you’ll never find things like that on your way
            as long as you keep your thoughts raised high,
            as long as a rare excitement
            stirs your spirit and your body.
            Laistrygonians and Cyclops,
            wild Poseidon—you won’t encounter them
            unless you bring them along inside your soul,
            unless your soul sets them up in front of you.
            <br>
            <span style="font-weight: 700;">— Ithaka | Kavafis, Konstantinos </span>
        </p>
    </div>
</div>


 </div>
</section>


@* GALLERY A *@
<section class="u-clearfix u-valign-top u-section-4" id="carousel_24d0">
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="998" data-image-height="1500">
                    <img class="u-back-image u-expanded" src="~/Content/images/Milas-NewYork.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-1">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-2">
                <div class="u-back-slide" data-image-width="2248" data-image-height="1500">
                    <img class="u-back-image u-expanded u-back-image-2" src="~/Content/images/Mount-White.jpg" />
                </div>
                <div class="u-over-slide u-shading u-over-slide-2">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-3">
                <div class="u-back-slide" data-image-width="720" data-image-height="1080">
                    <img class="u-back-image u-expanded" src="~/Content/images/Statuario-Carrara.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-3">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-4">
                <div class="u-back-slide" data-image-width="720" data-image-height="1080">
                    <img class="u-back-image u-expanded" src="~/Content/images/Volakas-White-Greek-Marble.jpg" />
                </div>
                <div class="u-over-slide u-shading u-over-slide-4">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
        </div>
    </div>
</section>
@* GALLERY B *@
<section class="u-clearfix u-valign-top u-section-4" id="carousel_24d0">
    <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
                <div class="u-back-slide" data-image-width="998" data-image-height="1500">
                    <img class="u-back-image u-expanded" src="~/Content/images/Adranos.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-1">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-2">
                <div class="u-back-slide" data-image-width="2248" data-image-height="1500">
                    <img class="u-back-image u-expanded u-back-image-2" src="~/Content/images/Arabescato-Orobico-Grigio.jpg" />
                </div>
                <div class="u-over-slide u-shading u-over-slide-2">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-3">
                <div class="u-back-slide" data-image-width="720" data-image-height="1080">
                    <img class="u-back-image u-expanded" src="~/Content/images/Arabescato-Corchia.jpg">
                </div>
                <div class="u-over-slide u-shading u-over-slide-3">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-4">
                <div class="u-back-slide" data-image-width="720" data-image-height="1080">
                    <img class="u-back-image u-expanded" src="~/Content/images/Blanco-Alejandra.jpg" />
                </div>
                <div class="u-over-slide u-shading u-over-slide-4">
                    <h3 class="u-gallery-heading"></h3>
                    <p class="u-gallery-text"></p>
                </div>
            </div>
        </div>
    </div>
</section>

@* PROVIERS A *@

<section class="u-black u-clearfix u-section-3" id="carousel_6831">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center-xl u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-xs u-container-layout-1">
                            <div class="u-shape u-shape-svg u-text-grey-25 u-shape-1">
                                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8d97"></use></svg>
                                <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-8d97"><path d="M160,80l-80,80L0,80L80,0L160,80z"></path></svg>
                            </div>
                            <h1 class="u-text u-text-body-alt-color u-text-1">
                                THE BEST&nbsp;<br>PROVDERS
                            </h1>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1125" data-image-height="1500">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




