@model Omadiko.Entities.Models.Provider

@{
    ViewBag.Title = "Provider_Details";
    Layout = "~/Views/Shared/_Crexis.cshtml";
}

<h2>Provider_Details works</h2>


<!-- Page Header - litle-header or bigger-header - soft-header, dark-header or backgroundx -->
<section id="page-header" class="soft-header litle-header">
    <!-- Page Header Inner -->
    <div class="page_header_inner clearfix dark antialiased">
        <!-- Left -->
        <div class="left f-left">
            <!-- Header -->
            <h2 class="page_header">
                Single Product
            </h2>
            <!-- Sub Page Text -->
            <h5 class="page_note light">
                Crexis One&amp;Multipage Creative Theme
            </h5>
        </div>
        <!-- Right -->
        <div class="right f-right">
            <!-- Right Buttons -->
            <a href="#" class="light">
                Home /
            </a>
            <!-- Button -->
            <a href="#" class="light">
                Shop
            </a>
        </div>
        <!-- End Right -->
    </div>
    <!-- End Inner -->
</section>
<!-- End #page-header -->
<!-- Shop Section -->
<section id="shop">

    <div class="single_item_details clearfix boxed">
        <!-- Slider -->
        <div class="left image-pgn-slider f-left">
            <!-- Sliders -->
            <ul class="slides mp-gallery">
                <li data-thumb="images/shop/shop_single_01.jpg">
                    <a href="images/shop/shop_single_01.jpg">
                        <img src="images/shop/shop_single_01.jpg" />
                    </a>
                </li>
                <li data-thumb="images/shop/shop_single_02.jpg">
                    <a href="images/shop/shop_single_02.jpg">
                        <img src="images/shop/shop_single_02.jpg" />
                    </a>
                </li>
                <li data-thumb="images/shop/shop_single_03.jpg">
                    <a href="images/shop/shop_single_03.jpg">
                        <img src="images/shop/shop_single_03.jpg" />
                    </a>
                </li>
            </ul>
            <!-- Label -->
            <span class="shop_label colored-bg">
                SALE
            </span>
        </div>

        <!-- Right, Details -->
        <div class="right dark f-left">
            <!-- Header -->
            <h4 class="single_item_header no-padding">
                Single Product Header
            </h4>
            <!-- Price -->
            <h4 class="single_item_price colored normal tahoma no-padding">
                $49.99
            </h4>
            <span class="strip"></span>
            <!-- Desc -->
            <p class="description light no-padding">
                It is a long established fact that a reader will be distracted by the readable content of and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <!-- Categories - List With Colored items  -->
            <ul class="light">
                <!-- Item  -->
                <li class="block">
                    <i class="fa fa-check"></i>
                    Powerful Code
                </li>
                <!-- Item  -->
                <li class="block">
                    <i class="fa fa-check"></i>
                    Unique&amp;Awesome Design
                </li>
                <!-- Item  -->
                <li class="block">
                    <i class="fa fa-check"></i>
                    40+ Home Pages
                </li>
            </ul>
            <!-- End List  -->
            <span class="strip"></span>
            <!-- Form -->
            <form method="post" action="#" class="light-form">
                <!-- Input -->
                <input type="number" class="input-lg" min="1" max="50" value="1">
                <a href="#" class="uppercase cart-button">
                    Add to Cart
                </a>
            </form>
            <!-- Panel -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        SKU: 2010
                    </p>
                    <p>
                        CATEGORY: T-Shirt
                    </p>
                    <p>
                        TAGS: <a href="#">Blue,</a><a href="#">T-shirt,</a><a href="#">Men</a>
                    </p>
                </div>
            </div>
        </div><!-- End Right -->
    </div><!-- End Details -->
    <!-- Tabs -->
    <div class="boxed item_tabs">
        <!-- Nav Tabs -->
        <div class="tabs light">
            <!-- Navıgation -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#one" data-toggle="tab" class="uppercase">Description</a></li>
                <li><a href="#two" data-toggle="tab" class="uppercase">Parameters</a></li>
                <li><a href="#three" data-toggle="tab" class="uppercase">Reviews (2)</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">

                <!-- Tab -->
                <div class="tab-pane fade in active clearfix" id="one">
                    <!-- Nav Text -->
                    <p class="tab-text">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discover the undoubtable source.
                    </p>
                    <!-- Nav Text -->
                    <p class="tab-text">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.
                    </p>
                </div>
                <!-- End Tab -->
                <!-- Tab -->
                <div class="tab-pane fade clearfix" id="two">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>
                                    Size:
                                </th>
                                <th>
                                    Small, Medium, Large and XLarge
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Colors
                                </td>
                                <td>
                                    Black, White, Red, Blue
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Material
                                </td>
                                <td>
                                    Premium Cotton Jersey Construction
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Other
                                </td>
                                <td>
                                    Example other features
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Length
                                </td>
                                <td>
                                    45cm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End Tab -->
                <!-- Tab -->
                <div class="tab-pane fade clearfix light" id="three">
                    <ul class="media-list">
                        <li class="media mb-20">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object circle" src="images/avatar.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">JOHN DOE</h4>
                                <p class="italic no-margin">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object circle" src="images/avatar.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">JOHN DOE</h4>
                                <p class="italic no-margin">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-full"></i>
                                </p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                            </div>
                        </li>
                    </ul>

                    <!-- Review Header -->
                    <h4 class="light mt-20">
                        Add Review
                    </h4>
                    <span class="strip"></span>

                    <!-- Form -->
                    <form action="#" class="light-form clearfix">
                        <div class="col-xs-6 no-padding-left">
                            <!-- Name -->
                            <input type="text" name="name" id="name" class="input-lg fullwidth" required placeholder="Name">
                        </div>
                        <div class="col-xs-6 no-padding-right">
                            <!-- Name -->
                            <input type="text" name="name" id="name" class="input-lg fullwidth" required placeholder="Name">
                        </div>
                        <div class="col-xs-12 mt-20 no-padding-right no-padding-left">
                            <!-- Select and Options -->
                            <select class="input-lg fullwidth">
                                <option>Select One</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-xs-12 mt-20 no-padding-right no-padding-left">
                            <!-- Name -->
                            <textarea name="message" id="message" class="input-lg fullwidth" required placeholder="Message"></textarea>
                        </div>
                        <div class="col-xs-12 mt-20 no-padding-right no-padding-left">
                            <!-- Name -->
                            <button type="submit" id="submit" class="input-lg fullwidth dark" name="submit">SEND</button>
                        </div>
                    </form>

                </div>
                <!-- End Tab -->
            </div><!-- End Tab panes -->
        </div><!--End Tabs -->
    </div>

    <div class="boxed related-products">
        <h4 class="light">
            Related Products
        </h4>
        <span class="strip mb-20"></span>
        <!-- Boxes -->
        <div class="boxes box-carousel-dragable four-items clearfix">
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/01_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </div>
                        <!-- Label -->
                        <span class="shop_label colored-bg">
                            SALE
                        </span>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/02_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/03_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/04_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </div>
                        <!-- Label -->
                        <span class="shop_label dark-layout">
                            SALE
                        </span>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/05_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/06_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <!-- Label -->
                        <span class="shop_label colored-bg">
                            SALE
                        </span>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/07_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </div>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box mr-20">
                <!-- Box Inner -->
                <div class="box_inner">
                    <!-- Item Link -->
                    <a href="pages-shop-single.html" class="item_image ex-link">
                        <!-- IMG SRC -->
                        <img src="images/shop/02_front.jpg" alt="shop" />
                        <!-- More Button -->
                        <span class="oswald more">
                            DETAILS
                        </span>
                        <!-- Ratings -->
                        <div class="ratings t-left">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <!-- Label -->
                        <span class="shop_label colored-bg">
                            SALE
                        </span>
                    </a>
                    <!-- End Item Link -->
                    <div class="item_details clearfix light">
                        <!-- Header and Description -->
                        <div class="left f-left titles">
                            <h2 class="shop_item_header">
                                Product Header
                            </h2>
                            <p class="shop_item_description">
                                T-Shirt
                            </p>
                        </div>
                        <!-- Prices -->
                        <div class="right f-right t-right tahoma">
                            <p class="old_price">
                                $89.99
                            </p>
                            <p class="price">
                                $59.99
                            </p>
                        </div>
                    </div>
                    <!-- Item Button -->
                    <div class="item_buttons">
                        <a href="#" class="add_to_cart t-center block">
                            <i class="fa fa-shopping-cart"></i>
                            Add To Cart
                        </a>
                    </div>
                </div>
                <!-- End Box Inner -->
            </div>
            <!-- End Box -->
        </div>
    </div>

</section>
<!-- End Shop -->
<!-- Page Note Type 2 -->
<section class="page-note type-2 dark-note">
    <!-- Note -->
    <h4 class="italic t-center normal antialiased">
        <i class="fa fa-quote-left colored"></i>
        Technology is part of the fabric of civilization, and you need to jack into it if you haven’t already. Learn the basics and you’ll be a lot happier.
        <i class="fa fa-quote-right colored"></i>
    </h4>
</section>
<!-- End Page Note Type 2 -->
