@model ICollection<Omadiko.Entities.Models.Provider>

@{
    ViewBag.Title = "ShowAllProviders";
    Layout = "~/Views/Shared/_CrexisPortofolio.cshtml";
}

@*<h2>ShowAllProviders</h2>*@




<!-- Portfolio Section -->
<section id="portfolio" class="container 4-columns-margin single boxed">

    <!-- Filters -->
    <div id="portfolio-filters" class="cbp-l-filters-alignCenter normal type2">

        <!-- Filter -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".graphic" class="cbp-filter-item">
            Graphic
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".design" class="cbp-filter-item">
            Design
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".photography" class="cbp-filter-item">
            Photography
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".web" class="cbp-filter-item">
            Web
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>

    </div>
    <!-- End Filters -->
    <!-- Portfolio Items -->
    <div id="portfolio-items" class="fullwidth type2">

        <!-- Item -->
        <div class="cbp-item item design">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Akrolithos-natural-stones.jpg" />

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>1</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                'Location'
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography web">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Alpha-Mena-logo.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>2</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item design photography">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Bacci-Marmi-Logo-e1479318073559.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>3</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               "Location"
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item web">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Bhavan-Granites-Logo..jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>4</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item web photography">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/LOGO-ALPA-MARBLES.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>5</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design graphic">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Bhavan-Granites-Logo..jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>6</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                             Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design web graphic">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Alfa-Stone-For-Marble-and-Quarries-LOGO-MARBLEGUIDE.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>7</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item design photography graphic">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/ALBADR-MARBLE-STONE-CO-LOGO.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>8</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item design">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Al-Rashad-Marble-Co.-Logo.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>9</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Al-Nada-Group-for-Marble-Granite.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>10</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/images/EikonesProviders/Al-Cobra-for-Marble-and-Granite-logo.jpg" style=" width: 285px; height: 108.93px;"/>

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>11</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Beautiful Girl
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Design, Photography
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    
                    <img src="~/Content/images/EikonesProviders/aldur-madencilik-logo.jpg" style=" width: 285px; height: 108.93px;"/>
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>12</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                CompanyTitle
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               Location
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->

    </div>
    <!-- End Portfolio Items -->


</section>
<!-- End Portfolio Section -->
<!-- Page Note Type 2 -->
<section class="page-note type-2 dark-note">
    <!-- Note -->
    <h4 class="italic t-center normal antialiased">
        <i class="fa fa-quote-left colored"></i>
        Technology is part of the fabric of civilization, and you need to jack into it if you haven’t already. Learn the basics and you’ll be a lot happier.
        <i class="fa fa-quote-right colored"></i>
    </h4>
</section>
<!-- End Page Note Type 2 -->











