@model ICollection<Omadiko.Entities.Models.Provider>

@{
    ViewBag.Title = "ShowAllProviders";
    Layout = "~/Views/Shared/LayOut/_CrexisPortofolio.cshtml";
}

@*<h2>ShowAllProviders</h2>*@




<!-- Portfolio Section -->
<section id="portfolio" class="container 4-columns-margin single boxed">

    <!-- Filters -->
    <div id="portfolio-filters" class="cbp-l-filters-alignCenter normal type2">

        <!-- Filter -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".graphic" class="cbp-filter-item">
            Graphic
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".design" class="cbp-filter-item">
            Design
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".photography" class="cbp-filter-item">
            Photography
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".web" class="cbp-filter-item">
            Web
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>

    </div>
    <!-- End Filters -->
    <!-- Portfolio Items -->
    <div id="portfolio-items" class="fullwidth type2">





        @foreach (var provider in Model)
        {
            <!-- Item -->
            <div class="cbp-item item design">
                <!-- Item Link -->
                <a href="projects/project_01.html" class="cbp-caption ex-link">

                    <!-- Item Image -->
                    <div class="cbp-caption-defaultWrap">
                        <!-- Image Src -->


                        <a href="~/provider/details/@provider.ProviderId">
                            <img src="@provider.CompanyPhoto" style="width:468px; height:255px" />
                        </a>



                        

                        <!-- Item Note -->
                        <div class="item_icon">
                            <!-- Icon -->
                            <p><i class="fa fa-image"></i></p>
                            <p>1</p>
                        </div>
                        <!-- End Item Note -->
                    </div>
                    <!-- End Item Image -->
                    <!-- Item Details -->
                    <div class="cbp-caption-activeWrap">
                        <!-- Centered Details -->
                        <div class="center-details">
                            <div class="details">
                                <!-- Item Name -->
                                <h2 class="name ">
                                    @Html.DisplayFor(modelItem => provider.CompanyTitle)
                                </h2>
                                <!-- Tags -->
                                <p class="tags">
                                    @Html.DisplayFor(modelItem => provider.Location.Country)
                                </p>
                            </div>
                        </div>
                        <!-- End Center Details Div -->
                    </div>
                    <!-- End Item Details -->
                </a>
                <!-- End Item Link -->
            </div>
            <!-- End Item -->
        }








    </div>
    <!-- End Portfolio Items -->


</section>
<!-- End Portfolio Section -->
<!-- Page Note Type 2 -->
<section class="page-note type-2 dark-note">
    <!-- Note -->
    <h4 class="italic t-center normal antialiased">
        <i class="fa fa-quote-left colored"></i>
        Technology is part of the fabric of civilization, and you need to jack into it if you haven’t already. Learn the basics and you’ll be a lot happier.
        <i class="fa fa-quote-right colored"></i>
    </h4>
</section>
<!-- End Page Note Type 2 -->











