<!-- Agency Notes -->
<section id="agency-notes">
    <!-- Inner -->
    <div class="inner t-center">

        @*εδω εχω βαλει το χαρτη που διχνει την εδρα της εταιρειας μας*@


        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1136.2241064390912!2d23.732549809669234!3d37.98032445859666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd3a2e02f23b%3A0xb6bec9a194fa0343!2zzqDOkc6dzpXOoM6ZzqPOpM6XzpzOmc6f!5e0!3m2!1sel!2sgr!4v1627638686446!5m2!1sel!2sgr" width="1200" height="650" style="border:0;" allowfullscreen="" loading="lazy"></iframe>











        <!-- Header -->
        <!--<h1 class="header header-style-1 white oswald uppercase t-center animated" data-animation="fadeIn" data-animation-delay="100">
            Crexis Creative Agency Notes
        </h1>-->
        <!-- Header Text -->
        <!--<p class="normal t-center animated" data-animation="fadeIn" data-animation-delay="100">
            Contrary to popular belief, Lorem Ipsum is not simply random text.
        </p>-->
        <!-- Boxes and Box Type -->
        <!--<div class="boxes boxes-type-2 box-carousel four-items clearfix">-->
        <!-- Box -->
        <!--<div class="box animated" data-animation="fadeIn" data-animation-delay="400">-->
        <!-- Box Icon -->
        <!--<div class="box-icon fullwidth t-center normal">-->
        <!-- Icon -->
        <!--<a href="" class="changeable-icon">-->
        <!-- Icon Selector -->
        <!--<i class="fa fa-rocket"></i>
            </a>
        </div>-->
        <!-- End Box Icon -->
        <!-- Box Header -->
        <!--<h4 class="box-header no-padding">
            Powerful Code
        </h4>-->
        <!-- Box Description -->
        <!--<p class="no-padding no-margin">
                It is a long established and thats reader will be distracted by the an readable content of page when lookings at its layout. Lorem Ipsum set.
            </p>

        </div>-->
        <!-- End Box -->
        <!-- Box -->
        <!--<div class="box animated" data-animation="fadeIn" data-animation-delay="600">-->
        <!-- Box Icon -->
        <!--<div class="box-icon fullwidth t-center normal">-->
        <!-- Icon -->
        <!--<a href="" class="changeable-icon">-->
        <!-- Icon Selector -->
        <!--<i class="fa fa-desktop"></i>
            </a>
        </div>-->
        <!-- End Box Icon -->
        <!-- Box Header -->
        <!--<h4 class="box-header no-padding">
            Creative Design
        </h4>-->
        <!-- Box Description -->
        <!--<p class="no-padding no-margin">
                It is a long established and thats reader will be distracted by the an readable content of page when lookings at its layout. Lorem Ipsum set.
            </p>

        </div>-->
        <!-- End Box -->
        <!-- Box -->
        <!--<div class="box animated" data-animation="fadeIn" data-animation-delay="800">-->
        <!-- Box Icon -->
        <!--<div class="box-icon fullwidth t-center normal">-->
        <!-- Icon -->
        <!--<a href="" class="changeable-icon">-->
        <!-- Icon Selector -->
        <!--<i class="fa fa-cog"></i>
            </a>
        </div>-->
        <!-- End Box Icon -->
        <!-- Box Header -->
        <!--<h4 class="box-header no-padding">
            Fast Support
        </h4>-->
        <!-- Box Description -->
        <!--<p class="no-padding no-margin">
                It is a long established and thats reader will be distracted by the an readable content of page when lookings at its layout. Lorem Ipsum set.
            </p>

        </div>-->
        <!-- End Box -->
        <!-- Box -->
        <!--<div class="box animated" data-animation="fadeIn" data-animation-delay="1000">-->
        <!-- Box Icon -->
        <!--<div class="box-icon fullwidth t-center normal">-->
        <!-- Icon -->
        <!--<a href="" class="changeable-icon">-->
        <!-- Icon Selector -->
        <!--<i class="fa fa-pencil"></i>
            </a>
        </div>-->
        <!-- End Box Icon -->
        <!-- Box Header -->
        <!--<h4 class="box-header no-padding">
            Parallax Effects
        </h4>-->
        <!-- Box Description -->
        <!--<p class="no-padding no-margin">
                It is a long established and thats reader will be distracted by the an readable content of page when lookings at its layout. Lorem Ipsum set.
            </p>

        </div>-->
        <!-- End Box -->
        <!--</div>-->
        <!-- End Boxes -->
        <!-- If you add here more boxes, here will be slider automatically -->

    </div>
    <!-- End Inner -->
</section>
<!-- End Section -->
