<!-- Clients Section -->
<section id="clients" class="background41 parallax6 xdark-bg">

    <!-- Inner -->
    <div class="inner t-center clearfix">
        <!-- Header -->
        <h1 class="header strip header-style-1 white oswald t-center uppercase animated" data-animation="fadeIn" data-animation-delay="100">
            @*What Clients Says?*@
            Our Best Providers
        </h1>
        <!-- Header Text -->
        <p class="normal t-center antialiased animated" data-animation="fadeIn" data-animation-delay="100">
           Εδω μπορουμε να γραψουμε 2-3 λογια για τους providers μας
        </p>

        <div class="boxes boxes-type-4 light box-carousel three-items clearfix animated" data-animation="fadeIn" data-animation-delay="500">

            <!-- Box -->
            <div class="box white oswald antialiased normal">
                <!-- Box Image -->
                <div class="box-image fullwidth t-center normal">
                    <!-- Image -->
                    <a href="" class="changeable-image">
                        <img  style="width:105px; height:105px;"src="~/Content/images/EikonesProviders/aldur-madencilik-logo.jpg" />
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Header -->
                <h4 class="box-header no-padding uppercase">
                    Aldur-Madencilik
                </h4>
                <!-- Position -->
                <h5 class="colored raleway">
                    Country
                </h5>
                <!-- Box Description -->
                <p class="no-padding no-margin raleway">
                  Λιγα λογια για το ποιοι ειναι (λογικα θα βαλουμε οριο λεξεων)
                </p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box white oswald antialiased normal">
                <!-- Box Image -->
                <div class="box-image fullwidth t-center normal">
                    <!-- Image -->
                    <a href="" class="changeable-image">
                        <img style="width:105px; height:105px;"  src="~/Content/images/EikonesProviders/Alfa-Stone-For-Marble-and-Quarries-LOGO-MARBLEGUIDE.jpg" />
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Header -->
                <h4 class="box-header no-padding uppercase ">
                    Alfa
                </h4>
                <!-- Position -->
                <h5 class="colored raleway">
                   Country
                </h5>
                <!-- Box Description -->
                <p class="no-padding no-margin raleway">
                    Λιγα λογια για το ποιοι ειναι (λογικα θα βαλουμε οριο λεξεων)
                </p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box white oswald antialiased normal">
                <!-- Box Image -->
                <div class="box-image fullwidth t-center normal">
                    <!-- Image -->
                    <a href="" class="changeable-image">
                        <img style="width:105px; height:105px;"  src="~/Content/images/EikonesProviders/Arihant-Marbles-Logo.jpg" />
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Header -->
                <h4 class="box-header no-padding uppercase ">
                    Arihant
                </h4>
                <!-- Position -->
                <h5 class="colored raleway">
                    Country
                </h5>
                <!-- Box Description -->
                <p class="no-padding no-margin raleway">
                    There are many variations of passages of Ipsum available, but the majority have alteration in some form, by injected humour.
                </p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box white oswald antialiased normal">
                <!-- Box Image -->
                <div class="box-image fullwidth t-center normal">
                    <!-- Image -->
                    <a href="" class="changeable-image">
                        <img  style="width:105px; height:105px;" src="~/Content/images/EikonesProviders/Bacci-Marmi-Logo-e1479318073559.jpg" />
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Header -->
                <h4 class="box-header no-padding uppercase ">
                    Bacci-Marmi
                </h4>
                <!-- Position -->
                <h5 class="colored raleway">
                    Country
                </h5>
                <!-- Box Description -->
                <p class="no-padding no-margin raleway">
                    There are many variations of passages of Ipsum available, but the majority have alteration in some form, by injected humour.
                </p>
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box white oswald antialiased normal">
                <!-- Box Image -->
                <div class="box-image fullwidth t-center normal">
                    <!-- Image -->
                    <a href="" class="changeable-image">
                        <img style="width:105px; height:105px;"  src="~/Content/images/EikonesProviders/Bhavan-Granites-Logo..jpg" />
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Header -->
                <h4 class="box-header no-padding uppercase ">
                    Bhavan-Granites
                </h4>
                <!-- Position -->
                <h5 class="colored raleway">
                   Country
                </h5>
                <!-- Box Description -->
                <p class="no-padding no-margin raleway">
                    There are many variations of passages of Ipsum available, but the majority have alteration in some form, by injected humour.
                </p>
            </div>
            <!-- End Box -->

        </div>
        <!-- End Boxes -->
    </div>
    <!-- End Inner -->
</section>
<!-- End Clients -->
