<!-- Featured Works With Testimonials Slider -->
<section class="testimonials type-2">
    <!-- Inner -->
    <div class="inner">
        <!-- Header -->
        <h2 class="header t-center header-style-1 white normal oswald uppercase">
            Our Featured Works
        </h2>
        <!-- Slider -->
        <div class="testimonial-slide dark">
            <!-- Item -->
            <div class="cbp-item">
                <!-- Item Header -->
                <h2 class="t-center light">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                </h2>
                <!-- Item Description -->
                <p class="light t-center">
                    See at more
                    <a href="#" target="_blank">
                        <span class="colored">
                            www.website.com
                        </span>
                    </a>
                </p>
            </div>
            <!-- Item -->
            <div class="cbp-item">
                <!-- Item Header -->
                <h2 class="t-center light">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                </h2>
                <!-- Item Description -->
                <p class="light t-center">
                    See at more
                    <a href="#" target="_blank">
                        <span class="colored">
                            www.website.com
                        </span>
                    </a>
                </p>
            </div>
            <!-- Item -->
            <div class="cbp-item">
                <!-- Item Header -->
                <h2 class="t-center light">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                </h2>
                <!-- Item Description -->
                <p class="light t-center">
                    See at more
                    <a href="#" target="_blank">
                        <span class="colored">
                            www.website.com
                        </span>
                    </a>
                </p>
            </div>
        </div>
        <!-- End Slider -->
    </div>
    <!-- End Inner -->
</section>
<!-- End Testimonials -->
