<!-- Featured Works Section -->
<section id="featured-works" class="container no-padding no-border-bottom carousel_type">

    <!-- Featured Slider -->
    <div class="featured-slider-boxes box-carousel four-items no-pagination t-center">

        <!-- Box -->
        <a href="projects/project_01.html" class="box ex-link">
            <!-- Box Image -->
            <div class="item_image">
                <!-- Image SRC -->
                <img src="images/portfolio/masonry/11.jpg" alt="Crexis" />
            </div>
            <!-- Item Texts -->
            <div class="item_texts">
                <!-- Header -->
                <h2 class="normal antialiased oswald uppercase">
                    Cute Friend!
                </h2>
                <!-- Description -->
                <p class="light">
                    Photography
                </p>
            </div>
        </a>
        <!-- End Box -->
        <!-- Box -->
        <a href="projects/project_01.html" class="box ex-link">
            <!-- Box Image -->
            <div class="item_image">
                <!-- Image SRC -->
                <img src="images/portfolio/masonry/12.jpg" alt="Crexis" />
            </div>
            <!-- Item Texts -->
            <div class="item_texts">
                <!-- Header -->
                <h2 class="normal antialiased oswald uppercase">
                    Older Tree
                </h2>
                <!-- Description -->
                <p class="light">
                    Photography
                </p>
            </div>
        </a>
        <!-- End Box -->
        <!-- Box -->
        <a href="projects/project_01.html" class="box ex-link">
            <!-- Box Image -->
            <div class="item_image">
                <!-- Image SRC -->
                <img src="images/portfolio/masonry/13.jpg" alt="Crexis" />
            </div>
            <!-- Item Texts -->
            <div class="item_texts">
                <!-- Header -->
                <h2 class="normal antialiased oswald uppercase">
                    Trees
                </h2>
                <!-- Description -->
                <p class="light">
                    Photography
                </p>
            </div>
        </a>
        <!-- End Box -->
        <!-- Box -->
        <a href="projects/project_01.html" class="box ex-link">
            <!-- Box Image -->
            <div class="item_image">
                <!-- Image SRC -->
                <img src="images/portfolio/masonry/14.jpg" alt="Crexis" />
            </div>
            <!-- Item Texts -->
            <div class="item_texts">
                <!-- Header -->
                <h2 class="normal antialiased oswald uppercase">
                    Office
                </h2>
                <!-- Description -->
                <p class="light">
                    Photography
                </p>
            </div>
        </a>
        <!-- End Box -->
        <!-- Box -->
        <a href="projects/project_01.html" class="box ex-link">
            <!-- Box Image -->
            <div class="item_image">
                <!-- Image SRC -->
                <img src="images/portfolio/masonry/15.jpg" alt="Crexis" />
            </div>
            <!-- Item Texts -->
            <div class="item_texts">
                <!-- Header -->
                <h2 class="normal antialiased oswald uppercase">
                    Winter
                </h2>
                <!-- Description -->
                <p class="light">
                    Photography
                </p>
            </div>
        </a>
        <!-- End Box -->

    </div>
    <!-- End Featured Slider -->
</section>
<!-- End Featured Works Alternative Section -->
