<!-- Features Section -->
<section id="about" class="container">
    <!-- Features Inner -->
    <div class="inner t-center">

        <!-- Header -->
        <h1 class="header header-style-1 white normal uppercase oswald animated" data-animation="fadeIn" data-animation-delay="200">
            Welcome To Crexis! We Create <span class="colored">Awesome</span> Themes
        </h1>
        <!-- Header Text -->
        <p class="light animated" data-animation="fadeIn" data-animation-delay="200">
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis.
        </p>

        <!-- Boxes  -->
        <div class="feature-boxes type-3 clearfix">

            <!-- Box  -->
            <div class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="100">
                <!-- Box Icon  -->
                <div class="f-left feature-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <!-- Box Texts  -->
                <div class="feature-text small-head f-left t-left dark">
                    <!-- Box Header  -->
                    <h4 class="no-margin normal no-padding oswald uppercase">
                        Unique Design
                    </h4>
                    <!-- Box Description  -->
                    <p>
                        This is Photoshop's version  of the Lorem. Proin gravida nibh the  vel velit auctor aliq sollicitudin. Duis sed odio sit amet nibh vulbutate
                    </p>
                </div>
            </div>
            <!-- End Box  -->
            <!-- Box  -->
            <div class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="150">
                <!-- Box Icon  -->
                <div class="f-left feature-icon">
                    <i class="fa fa-briefcase"></i>
                </div>
                <!-- Box Texts  -->
                <div class="feature-text small-head f-left t-left dark">
                    <!-- Box Header  -->
                    <h4 class="no-margin normal no-padding oswald uppercase">
                        Awesome Icons
                    </h4>
                    <!-- Box Description  -->
                    <p>
                        This is Photoshop's version  of the Lorem. Proin gravida nibh the  vel velit auctor aliq sollicitudin. Duis sed odio sit amet nibh vulbutate
                    </p>
                </div>
            </div>
            <!-- End Box  -->
            <!-- Box  -->
            <div class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="200">
                <!-- Box Icon  -->
                <div class="f-left feature-icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <!-- Box Texts  -->
                <div class="feature-text small-head f-left t-left dark">
                    <!-- Box Header  -->
                    <h4 class="no-margin normal no-padding oswald uppercase">
                        Powerful Code
                    </h4>
                    <!-- Box Description  -->
                    <p>
                        This is Photoshop's version  of the Lorem. Proin gravida nibh the  vel velit auctor aliq sollicitudin. Duis sed odio sit amet nibh vulbutate
                    </p>
                </div>
            </div>
            <!-- End Box  -->
            <!-- Box  -->
            <div class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="250">
                <!-- Box Icon  -->
                <div class="f-left feature-icon">
                    <i class="fa fa-cloud"></i>
                </div>
                <!-- Box Texts  -->
                <div class="feature-text small-head f-left t-left dark">
                    <!-- Box Header  -->
                    <h4 class="no-margin normal no-padding oswald uppercase">
                        ShortCodes
                    </h4>
                    <!-- Box Description  -->
                    <p>
                        This is Photoshop's version  of the Lorem. Proin gravida nibh the  vel velit auctor aliq sollicitudin. Duis sed odio sit amet nibh vulbutate
                    </p>
                </div>
            </div>
            <!-- End Box  -->
            <!-- Box  -->
            <div class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="300">
                <!-- Box Icon  -->
                <div class="f-left feature-icon">
                    <i class="fa fa-leaf"></i>
                </div>
                <!-- Box Texts  -->
                <div class="feature-text small-head f-left t-left dark">
                    <!-- Box Header  -->
                    <h4 class="no-margin normal no-padding oswald uppercase">
                        Clean Code
                    </h4>
                    <!-- Box Description  -->
                    <p>
                        This is Photoshop's version  of the Lorem. Proin gravida nibh the  vel velit auctor aliq sollicitudin. Duis sed odio sit amet nibh vulbutate
                    </p>
                </div>
            </div>
            <!-- End Box  -->
            <!-- Box  -->
            <div class="feature-box col-xs-4 animated" data-animation="fadeIn" data-animation-delay="350">
                <!-- Box Icon  -->
                <div class="f-left feature-icon">
                    <i class="fa fa-diamond"></i>
                </div>
                <!-- Box Texts  -->
                <div class="feature-text small-head f-left t-left dark">
                    <!-- Box Header  -->
                    <h4 class="no-margin normal no-padding oswald uppercase">
                        Parallax Effects
                    </h4>
                    <!-- Box Description  -->
                    <p>
                        This is Photoshop's version  of the Lorem. Proin gravida nibh the  vel velit auctor aliq sollicitudin. Duis sed odio sit amet nibh vulbutate
                    </p>
                </div>
            </div>
            <!-- End Box  -->

        </div>
        <!-- End Boxes  -->
    </div>
    <!-- End Features Inner  -->
</section>
<!-- End Features Section  -->