	<!-- Fun Facts -->
<section class="fun-facts mt-80 background40 parallax5 xdark-bg">

    <!-- Facts -->
    <div class="facts clearfix t-center white">

        <!-- Fact -->
        <div class="fact" data-perc="540">
            <!-- Fact Tag -->
            <h1 class="factor georgia"></h1>
            <!-- Fact Name -->
            <h3 class="light">
                Pizza Ordered
            </h3>
        </div>
        <!-- End Fact -->
        <!-- Fact -->
        <div class="fact" data-perc="3420">
            <!-- Fact Tag -->
            <h1 class="factor georgia"></h1>
            <!-- Fact Name -->
            <h3 class="light">
                Cups of Coffee
            </h3>
        </div>
        <!-- End Fact -->
        <!-- Fact -->
        <div class="fact" data-perc="55260">
            <!-- Fact Tag -->
            <h1 class="factor georgia"></h1>
            <!-- Fact Name -->
            <h3 class="light">
                Lines of Code
            </h3>
        </div>
        <!-- End Fact -->
        <!-- Fact -->
        <div class="fact" data-perc="30">
            <!-- Fact Tag -->
            <h1 class="factor georgia"></h1>
            <!-- Fact Name -->
            <h3 class="light">
                Finished Projects
            </h3>
        </div>
        <!-- End Fact -->

    </div>
    <!-- End Facts -->

</section>
<!-- End Fun Facts Section -->
