<!-- Home Section -->
<section id="home" class="home rev-slider container">

    <!-- white BG For Video -->
    <div class="fullscreen z-1 absolute xdark-bg"></div>

    <!-- Ful Screen Slider -->
    <div id="fullscreen" class="background46">
        <!-- Video -->
        <div id="p1" class="player video-container" data-property="{videoURL:'https://youtu.be/2z-DIsMlaTQ', containment:'#fullscreen', autoPlay:true, showControls:true, mute:true, startAt:0, opacity:1}"></div>
        <!-- End Video -->
    </div>
    <!-- End Ful Screen Home -->
    <!-- Home Inner Details -->
    <!--<div class="home-inner t-center" data-0="opacity:1;" data-600="opacity:0;">-->
    <!-- Home Text Slider -->
    <!--<div class="home-text-slider relative">-->
    <!-- Home Text Slider -->
    <!--<h1 class="white small-type text-rotetor oswald uppercase antialiased">-->
    <!-- Home Texts -->
    <!--<span class="rotate">
        We Create Awesome Themes!,
        Crexis Creative Design Studio
    </span>-->
    <!-- End Home Texts -->
    <!--</h1>-->
    <!-- End Home Text Slider -->
    <!-- Home Fixed Text -->
    <!--<p class="home-fixed-text gray light t-center">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>

    </div>-->
    <!-- End Home Text Slider -->
    <!-- Home Button -->
    <!--<a href="#about" class="home-button dark-button thin scroll">Get Started</a>

    </div>-->
    <!-- End Home Inner Details -->

</section>
<!-- End Home Section -->
