<!-- Notes/Skills Section -->
<section id="skills">

    <!-- Inner -->
    <div class="inner t-center clearfix">
        <!-- Header -->
        <h1 class="header header-style-1 white oswald uppercase t-center ">
            Crexis Notes &amp; Skills
        </h1>
        <!-- Header Text -->
        <p class="normal t-center">
            There are many variations of passages of Lorem Ipsum available, but the majority.
        </p>

        <!-- Boxes -->
        <div class="boxes boxes-type-3 f-left col-xs-6 t-left">


            <!-- Box -->
            <div class="box clearfix">
                <!-- Box Icon -->
                <div class="box-icon t-center normal f-left col-xs-2">
                    <!-- Icon -->
                    <a href="" class="changeable-icon">
                        <!-- Icon Selector -->
                        <i class="fa fa-cloud"></i>
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Texts -->
                <div class="box-texts f-left col-xs-10">
                    <!-- Box Header -->
                    <h4 class="box-header  no-padding">
                        It’s Your Style!
                    </h4>

                    <!-- Box Description -->
                    <p class="no-padding light no-margin">
                        There are many variations of passages of Lor em Ipsum available, but the majority have suffe red alteration in some form, by injected clony humour or randomised words which don't look
                    </p>
                </div>
                <!-- End Box Texts -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box clearfix">
                <!-- Box Icon -->
                <div class="box-icon t-center normal f-left col-xs-2">
                    <!-- Icon -->
                    <a href="" class="changeable-icon">
                        <!-- Icon Selector -->
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Texts -->
                <div class="box-texts f-left col-xs-10">
                    <!-- Box Header -->
                    <h4 class="box-header  no-padding">
                        Clean Code
                    </h4>

                    <!-- Box Description -->
                    <p class="no-padding light no-margin">
                        There are many variations of passages of Lor em Ipsum available, but the majority have suffe red alteration in some form, by injected clony humour or randomised words which don't look
                    </p>
                </div>
                <!-- End Box Texts -->
            </div>
            <!-- End Box -->
            <!-- Box -->
            <div class="box clearfix">
                <!-- Box Icon -->
                <div class="box-icon t-center normal f-left col-xs-2">
                    <!-- Icon -->
                    <a href="" class="changeable-icon">
                        <!-- Icon Selector -->
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
                <!-- End Box Icon -->
                <!-- Box Texts -->
                <div class="box-texts f-left col-xs-10">
                    <!-- Box Header -->
                    <h4 class="box-header  no-padding">
                        Detailed Documentation
                    </h4>

                    <!-- Box Description -->
                    <p class="no-padding light no-margin">
                        There are many variations of passages of Lor em Ipsum available, but the majority have suffe red alteration in some form, by injected clony humour or randomised words which don't look
                    </p>
                </div>
                <!-- End Box Texts -->
            </div>
            <!-- End Box -->

        </div>
        <!-- End Boxes -->
        <!-- Skills -->
        <div class="skills f-left t-left col-xs-6">


            <!-- Skill -->
            <div class="skill">
                <!-- Header -->
                <h4 class="no-margin no-padding uppercase">
                    Photography
                </h4>
                <!-- Text -->
                <p class="no-padding italic light">
                    We’re Good for Photography!
                </p>
                <!-- Progress -->
                <div class="progress">
                    <!-- Progress Bar / Add your value to data-value area -->
                    <div class="progress-bar georgia" data-value="70"></div>
                    <!-- End Progress Bar -->
                </div>
                <!-- End Progress Bar -->
            </div>
            <!-- Skill -->
            <!-- Skill -->
            <div class="skill">
                <!-- Header -->
                <h4 class="no-margin no-padding uppercase">
                    Web Design
                </h4>
                <!-- Text -->
                <p class="no-padding italic light">
                    We Know It Very Well!
                </p>
                <!-- Progress -->
                <div class="progress">
                    <!-- Progress Bar / Add your value to data-value area -->
                    <div class="progress-bar georgia" data-value="85"></div>
                    <!-- End Progress Bar -->
                </div>
                <!-- End Progress Bar -->
            </div>
            <!-- Skill -->
            <!-- Skill -->
            <div class="skill">
                <!-- Header -->
                <h4 class="no-margin no-padding uppercase">
                    HTML &amp; CSS
                </h4>
                <!-- Text -->
                <p class="no-padding italic light">
                    This is Child Play For Us!
                </p>
                <!-- Progress -->
                <div class="progress">
                    <!-- Progress Bar / Add your value to data-value area -->
                    <div class="progress-bar georgia" data-value="75"></div>
                    <!-- End Progress Bar -->
                </div>
                <!-- End Progress Bar -->
            </div>
            <!-- Skill -->
            <!-- Skill -->
            <div class="skill">
                <!-- Header -->
                <h4 class="no-margin no-padding uppercase">
                    Wordpress
                </h4>
                <!-- Text -->
                <p class="no-padding italic light">
                    We Know it Very Well!
                </p>
                <!-- Progress -->
                <div class="progress">
                    <!-- Progress Bar / Add your value to data-value area -->
                    <div class="progress-bar georgia" data-value="80"></div>
                    <!-- End Progress Bar -->
                </div>
                <!-- End Progress Bar -->
            </div>
            <!-- Skill -->

        </div>
        <!-- End Skills -->
    </div>
    <!-- End Inner -->
</section>
<!-- End Notes/Skills Section -->
