<!-- Page Note Section -->
<section class="page-note dark-note">
    <!-- Note -->
    <h4 class="uppercase italic t-center">
        Clean, responsive and professional design with powerfull code!
    </h4>
</section>
<!-- End Page Note Section -->
