<!-- Portfolio Section Marble -->
<section id="portfolio" class="container 5-columns-margin">

    <!-- Portfolio Inner -->
    <div class="inner t-center animated" data-animation="fadeIn" data-animation-delay="100">

        <!-- Header -->
        <h2 class="header header-style-1 white normal oswald uppercase">
           Collection of Marble
        </h2>
        <!-- Header Text -->
        <p class="light">
           Εδω μπορουμε να αναφερουμε λιγα λογια για τα μαρμαρα , την ποιοτητα , ποσες ειναι οι χωρες οπου προμηθευομαστε τα μαρμαρα κλπ
            
        </p>

    </div>
    <!-- End Inner -->
    <!-- Filters -->
    <div id="portfolio-filters" class="cbp-l-filters-alignCenter normal type2">

        <!-- Filter -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".graphic" class="cbp-filter-item">
            Graphic
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".design" class="cbp-filter-item">
            Design
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".photography" class="cbp-filter-item">
            Photography
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".web" class="cbp-filter-item">
            Web
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>

    </div>
    <!-- End Filters -->
    <!-- Portfolio Items -->
    <div id="portfolio-items" class="fullwidth type2">

        <!-- Item -->
        <div class="cbp-item item design">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img  src="~/Content/imagesMARBLE/Adranos.jpg" style="width:295px; height:177px" />

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>Adranos</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Adranos
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Greece
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography web">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img    src="~/Content/imagesMARBLE/Arabescato-Corchia.jpg" />

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Arabescato-Corchia</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name">
                                Arabescato-Corchia
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                              Italy
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item design photography">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->

                    <img src="~/Content/imagesMARBLE/Arabescato-Orobico-Grigio.jpg" />

                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>Arabescato-Orobico-Grigio</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Arabescato-Orobico-Grigio
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               Spain
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item web">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Blanco-Alejandra.jpg" />
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Blanco-Alejandra</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Blanco-Alejandra
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                France
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item web photography">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Milas-NewYork.jpg" />
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Milas-NewYork</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Milas-NewYork
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Germany
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design graphic">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Mount-White.jpg" />
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>Mount-White</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Mount-White
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                Denmark
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design web graphic">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Pink.jpg" style="width:295px; height:177px"/>
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Pink</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Pink
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               Cyprus
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item design photography graphic">
            <!-- Item Link -->
            <a href="projects/project_02.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Statuario-Carrara.jpg" />
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Statuario-Carrara</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Statuario-Carrara
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                              Japan
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item design">
            <!-- Item Link -->
            <a href="projects/project_03.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Volakas-White-Greek-Marble.jpg" />
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-camera-retro"></i></p>
                        <p>Volakas-White-Greek-Marble</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                                Volakas-White-Greek-Marble
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                               Greece
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->
        <!-- Item -->
        <div class="cbp-item item photography design">
            <!-- Item Link -->
            <a href="projects/project_01.html" class="cbp-caption ex-link">

                <!-- Item Image -->
                <div class="cbp-caption-defaultWrap">
                    <!-- Image Src -->
                    <img src="~/Content/imagesMARBLE/Arabescato-Orobico-Grigio.jpg" />
                    <!-- Item Note -->
                    <div class="item_icon">
                        <!-- Icon -->
                        <p><i class="fa fa-image"></i></p>
                        <p>Diplo</p>
                    </div>
                    <!-- End Item Note -->
                </div>
                <!-- End Item Image -->
                <!-- Item Details -->
                <div class="cbp-caption-activeWrap">
                    <!-- Centered Details -->
                    <div class="center-details">
                        <div class="details">
                            <!-- Item Name -->
                            <h2 class="name ">
                               Diplo
                            </h2>
                            <!-- Tags -->
                            <p class="tags">
                                U.S.A
                            </p>
                        </div>
                    </div>
                    <!-- End Center Details Div -->
                </div>
                <!-- End Item Details -->
            </a>
            <!-- End Item Link -->
        </div>
        <!-- End Item -->

    </div>
    <!-- End Portfolio Items -->

</section>
<!-- End Portfolio Section -->
