@model Omadiko.WebApp.Models.MarbleProviderViewModel.MarbleProviderVM

<style>
    .details {
        border: 1px solid #f0f0f0;
    }
</style>

<!-- Portfolio Section Marble -->
<section id="portfolio" class="container 4-columns-margin single boxed">

    <!-- Portfolio Inner -->
    <div class="inner t-center animated" data-animation="fadeIn" data-animation-delay="100">

        <!-- Header -->
        <h2 class="header header-style-1 white normal oswald uppercase">
            Collection of Marble
        </h2>
        <!-- Header Text -->
        <p class="light">
            Εδω μπορουμε να αναφερουμε λιγα λογια για τα μαρμαρα , την ποιοτητα , ποσες ειναι οι χωρες οπου προμηθευομαστε τα μαρμαρα κλπ

        </p>

    </div>
    <!-- End Inner -->
    <!-- Filters -->
    <div id="portfolio-filters" class="cbp-l-filters-alignCenter normal type2">

        <!-- Filter -->
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".graphic" class="cbp-filter-item">
            Graphic
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".design" class="cbp-filter-item">
            Design
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".photography" class="cbp-filter-item">
            Photography
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>
        <!-- Filter -->
        <div data-filter=".web" class="cbp-filter-item">
            Web
            <!-- Filter Counter -->
            <div class="cbp-filter-counter"></div>
        </div>

    </div>
    <!-- End Filters -->


    @*<div class="marble-providerVM">*@
        <!-- Portfolio Items -->
        <div id="portfolio-items" class="fullwidth type2">


            @foreach (var marble in Model.Marbles)
            {
                <!-- Item -->
                <div class="cbp-item item design">
                    <!-- Item Link -->
                    <a href="projects/project_01.html" class="cbp-caption ex-link">

                        <!-- Item Image -->
                        <div class="cbp-caption-defaultWrap">
                            <!-- Image Src -->
                            <a href="~/marble/details/@marble.MarbleId">
                                <img src="@Url.Content(marble.Photo.Url)" style="width:280px; height:255px" alt="Crexis">

                            </a>


                            <!-- Item Note -->
                            <div class="item_icon">
                                Icon
                                <p><i class="fa fa-image"></i></p>
                                <p>Photography</p>
                            </div>
                            <!-- End Item Note -->
                        </div>
                        <!-- End Item Image -->
                        <!-- Item Details -->
                        <div class="cbp-caption-activeWrap">
                            <!-- Centered Details -->
                            <div class="center-details">
                                <div class="details" style="width:280px; height:91.8px; ">
                                    <!-- Item Name -->
                                    <h2 class="name " style="color:azure">
                                        @Html.DisplayFor(modelItem => marble.Name)
                                    </h2>
                                    <!-- Tags -->
                                    <p class="tags" style="color:azure">
                                        @Html.DisplayFor(modelItem => marble.Country.Name)
                                    </p>
                                </div>
                            </div>
                            <!-- End Center Details Div -->
                        </div>
                        <!-- End Item Details -->
                    </a>
                    <!-- End Item Link -->
                </div>
                <!-- End Item -->

            }


        </div>
        <!-- End Portfolio Items -->

    </div>

</section>
<!-- End Portfolio Section -->
