
@using Microsoft.AspNet.Identity;


@*@if (User.IsInRole("Provider"))
{





}*@


<!-- Pricing Tables -->
<section id="pricing-tables" class="background41 parallax8 xdark-bg">

    <!-- Inner -->
    <div class="inner t-center clearfix">
        <!-- Header -->
        <h1 class="header header-style-1 white oswald uppercase t-center animated" data-animation="fadeIn" data-animation-delay="100">
            Our Pricing Tables
        </h1>
        <!-- Header Text -->
        <p class="light t-center animated" data-animation="fadeIn" data-animation-delay="100">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
        </p>

        <!-- Price Boxes -->
        <div class="price_boxes t-center clearfix white">


            <!-- Box -->
            <div class="box active animated" data-animation="fadeIn" data-animation-delay="800">
                <!-- Header -->
                <h2 class="head georgia">
                    Premium
                </h2>
                <!-- Price -->
                <h1 class="price georgia colored ">
                    <span class="raleway" style="color:whitesmoke"><strong>$59</strong>/Monthly</span>

                </h1>
                <!-- Features List -->
                <ul class="price_list light">
                    <li>
                        Unlimited File Access
                    </li>

                    <li class="important">
                        Premium Profile Listing
                    </li>

                    <li class="important">
                        Free Appointments
                    </li>

                    <li>
                        3 Points Bonus Every Month
                    </li>

                    <li class="important">
                        300GB Disc Traffic
                    </li>

                    <li class="important">
                        2 Subdomains
                    </li>
                </ul>
                <!-- End Features List -->
                <!-- Buy Now Button -->
                <a href="~/Home/PaymentWithPayPal" class="price_button uppercase ">
                    Buy Now
                </a>

            </div>
            <!-- End Box -->

        </div>
        <!-- End Boxes -->
    </div>
    <!-- End Inner -->
</section>
<!-- End Pricing Tables Section -->
