<style>

    .price_button:hover {
        background-color:green !important;
    }

</style>

<!-- Pricing Tables -->
<section id="pricing-tables" class="background41 parallax8 xdark-bg">
    <!-- Inner -->
    <div class="inner t-center clearfix">
        <!-- Header -->
        <h1 class="header header-style-1 white oswald uppercase t-center animated head georgia" data-animation="fadeIn" data-animation-delay="100">
            Our Pricing Plan
        </h1>
        <!-- Header Text -->
        <p class="light t-center animated" data-animation="fadeIn" data-animation-delay="100">
            <h4>Enjoy the most of our app by going Premium</h4>
        </p>
        <!-- Price Boxes -->
        <div class="price_boxes t-center clearfix white">    
            <!-- Box -->
            <div class="box active animated" data-animation="fadeIn" data-animation-delay="800">
                <!-- Header -->
                <h2 class="head georgia">
                    Premium
                </h2>
                <!-- Price -->
                <h1 class="price georgia ">
                    <span class="raleway" style="color:whitesmoke"><strong>€0.9</strong>/Daily</span>
                </h1>
                <!-- Features List -->
                <ul class="price_list light">
                    <li>
                        Unlimited Photo Access
                    </li>

                    <li class="important">
                        Unlimited Add To Favourite Option
                    </li>

                    <li class="important">
                        Unlimited Access To Marble/Provider Details
                    </li>

                    <li>
                        One Click Provider Contact
                    </li>

                    @*<li class="important">
                        300GB Disc Traffic
                    </li>

                    <li class="important">
                        2 Subdomains
                    </li>*@
                </ul>
                <!-- End Features List -->
                <!-- Buy Now Button -->
                <a href="~/Home/PaymentWithPayPal" class="price_button uppercase ">
                    Buy Now
                </a>
            </div>
            <!-- End Box -->          
        </div>
        <!-- End Boxes -->
    </div>
    <!-- End Inner -->
</section>
<!-- End Pricing Tables Section -->
