<!-- Team Section -->
<section id="team" class="container type-2">

    <!-- Featured Works Inner -->
    <div class="inner t-center">

        <!-- Header -->
        <h2 class="header header-style-1 white normal oswald uppercase animated" data-animation="fadeIn" data-animation-delay="100">
            @*Our Creative Team*@
             ΟΙ ΝΤΑΛΤΟΝΣ ΑΛΛΑ ΠΙΟ ΚΑΚΟΙ
        </h2>
        <!-- Header Text -->
        <p class="light animated" data-animation="fadeIn" data-animation-delay="100">
            @*There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.*@

            Εδω μπορουμε να γραψουμε λιγα λογια για το site , για την εταιρεια , την ομαδα , κατι τελος παντων
        </p>
        <!-- Team Boxes -->
        <div class="team-boxes box-carousel antialiased four-items clearfix">

            <!-- Team Box -->
            <div class="team-box animated" data-animation="fadeIn" data-animation-delay="300">
                <!-- Image Area -->
                <div class="member-image fullwidth">
                    <!-- Image Way -->
                    <img src="~/Content/images/photodikesmas/images.jpg" />
                </div>
                <!-- Member Details -->
                <div class="member-details light">
                    <!-- Name -->
                    <h3>
                       Ηλιας Ζαχαριουδακης
                    </h3>
                    <!-- Position -->
                    <h5>
                       The Leader
                    </h5>
                    <!-- Strip -->
                    <div class="strip"></div>
                    <!-- Member Description -->
                    <p class="normal">
                        Εχω εθιστει στο codewars
                    </p>
                    <!-- Socials -->
                    <div class="socials">
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <!-- View More Button -->
                    <a data-toggle="modal" data-target="#member1" class="member-more uppercase normal team_modal">View More</a>  @*ΕΔΩ ΜΠΟΡΟΥΜΕ ΜΕ ΑΥΤΟ ΤΟ ΚΟΥΜΠΙ ΝΑ ΜΑΣ ΠΕΤΑ ΣΤΟ LIKEDIN ΤΟΥ ΚΑΘΕΝΟΣ ΜΑΣ*@
                </div>
                <!-- End Member Details -->
            </div>
            <!-- End Box -->
            <!-- Team Box -->
            <div class="team-box animated" data-animation="fadeIn" data-animation-delay="400">
                <!-- Image Area -->
                <div class="member-image fullwidth">
                    <!-- Image Way -->
                    <img src="~/Content/images/photodikesmas/shutterstock_89862334-1024x585.png" />
                </div>
                <!-- Member Details -->
                <div class="member-details light">
                    <!-- Name -->
                    <h3>
                        Θοδωρης Πολυζος
                    </h3>
                    <!-- Position -->
                    <h5>
                       The Edifier
                    </h5>
                    <!-- Strip -->
                    <div class="strip"></div>
                    <!-- Member Description -->
                    <p class="normal">
                       Τρεχω και δεν φτανω !!!!!!!!
                    </p>
                    <!-- Socials -->
                    <div class="socials">
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <!-- View More Button -->
                    <a data-toggle="modal" data-target="#member2" class="member-more uppercase normal team_modal">View More</a>
                </div>
                <!-- End Member Details -->
            </div>
            <!-- End Box -->
            <!-- Team Box -->
            <div class="team-box animated" data-animation="fadeIn" data-animation-delay="500">
                <!-- Image Area -->
                <div class="member-image fullwidth">
                    <!-- Image Way -->
                    <img style="width:180px" src="~/Content/images/photodikesmas/03327_c-550x550h.jpg" />   @*το style το εβαλα εγω τζ.*@
                </div>
                <!-- Member Details -->
                <div class="member-details light">
                    <!-- Name -->
                    <h3>
                        Γιωργος Καβαδιας
                    </h3>
                    <!-- Position -->
                    <h5>
                       Web Disigner
                    </h5>
                    <!-- Strip -->
                    <div class="strip"></div>
                    <!-- Member Description -->
                    <p class="normal">
                       Περιμενω στο τελευταιο μαθημα να τους mute-αρω  ολους!
                    </p>
                    <!-- Socials -->
                    <div class="socials">
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <!-- View More Button -->
                    <a data-toggle="modal" data-target="#member3" class="member-more uppercase normal team_modal">View More</a>
                </div>
                <!-- End Member Details -->
            </div>
            <!-- End Box -->
            <!-- Team Box -->
            <div class="team-box animated" data-animation="fadeIn" data-animation-delay="600">
                <!-- Image Area -->
                <div class="member-image fullwidth">
                    <!-- Image Way -->
                    <img src="~/Content/images/photodikesmas/unnamed.jpg" />
                </div>
                <!-- Member Details -->
                <div class="member-details light">
                    <!-- Name -->
                    <h3>
                       Γιωργος Τζαβελλας
                    </h3>
                    <!-- Position -->
                    <h5>
                        The Positive
                    </h5>
                    <!-- Strip -->
                    <div class="strip"></div>
                    <!-- Member Description -->
                    <p class="normal">
                       Χαλαρα  !!
                    </p>
                    <!-- Socials -->
                    <div class="socials">
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <!-- Social Link -->
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <!-- View More Button -->
                    <a data-toggle="modal" data-target="#member4" class="member-more uppercase normal team_modal">View More</a>
                </div>
                <!-- End Member Details -->
            </div>
            <!-- End Box -->

        </div>
        <!-- End Boxes -->
    </div>
    <!-- End Inner -->



    @*Δεν εχω καταλαβει τι προβαλει ο παρακατω κωδικας*@


    <!-- Member Modals -->
    <div id="member-modals">
        <!-- Modal -->
        <div class="modal fade" id="member1" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Modal Dialog -->
            <div class="modal-dialog t-left">
                <!-- Body -->
                <div class="modal-body t-center clearfix">
                    <!-- Close Button -->
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <!-- Image SRC -->
                    <div class="member-image">
                        <img src="images/team/a_01.jpg" alt="Crexis Team" />
                    </div>
                    <!-- Details -->
                    <div class="details t-left">
                        <!-- Member Name -->
                        <h2 class="member-header extra-light">
                            Adriana Wrins
                        </h2>
                        <!-- Member Position -->
                        <h4 class="member-position extra-light colored">
                            Web Designer
                        </h4>
                        <!-- Description -->
                        <p class="no-padding extra-light">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                        </p>
                    </div>
                    <!-- End Details -->
                </div>
                <!-- End Body -->
            </div>
            <!-- End Dialog -->
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="member2" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Modal Dialog -->
            <div class="modal-dialog t-left">
                <!-- Body -->
                <div class="modal-body t-center clearfix">
                    <!-- Close Button -->
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <!-- Image SRC -->
                    <div class="member-image">
                        <img src="images/team/a_02.jpg" alt="Crexis Team" />
                    </div>
                    <!-- Details -->
                    <div class="details t-left">
                        <!-- Member Name -->
                        <h2 class="member-header extra-light">
                            Sarah Slena
                        </h2>
                        <!-- Member Position -->
                        <h4 class="member-position extra-light colored">
                            Photographer
                        </h4>
                        <!-- Description -->
                        <p class="no-padding extra-light">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                        </p>
                    </div>
                    <!-- End Details -->
                </div>
                <!-- End Body -->
            </div>
            <!-- End Dialog -->
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="member3" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Modal Dialog -->
            <div class="modal-dialog t-left">
                <!-- Body -->
                <div class="modal-body t-center clearfix">
                    <!-- Close Button -->
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <!-- Image SRC -->
                    <div class="member-image">
                        <img src="images/team/a_03.jpg" alt="Crexis Team" />
                    </div>
                    <!-- Details -->
                    <div class="details t-left">
                        <!-- Member Name -->
                        <h2 class="member-header extra-light">
                            Tom Relmac
                        </h2>
                        <!-- Member Position -->
                        <h4 class="member-position extra-light colored">
                            Human Resources
                        </h4>
                        <!-- Description -->
                        <p class="no-padding extra-light">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                        </p>
                    </div>
                    <!-- End Details -->
                </div>
                <!-- End Body -->
            </div>
            <!-- End Dialog -->
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="member4" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- Modal Dialog -->
            <div class="modal-dialog t-left">
                <!-- Body -->
                <div class="modal-body t-center clearfix">
                    <!-- Close Button -->
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <!-- Image SRC -->
                    <div class="member-image">
                        <img src="images/team/a_04.jpg" alt="Crexis Team" />
                    </div>
                    <!-- Details -->
                    <div class="details t-left">
                        <!-- Member Name -->
                        <h2 class="member-header extra-light">
                            Mike Bearn
                        </h2>
                        <!-- Member Position -->
                        <h4 class="member-position extra-light colored">
                            Designer
                        </h4>
                        <!-- Description -->
                        <p class="no-padding extra-light">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                        </p>
                    </div>
                    <!-- End Details -->
                </div>
                <!-- End Body -->
            </div>
            <!-- End Dialog -->
        </div>
        <!-- End Modal -->

    </div>
    <!-- End Modals -->

</section>
<!-- End Team Section -->