<!-- Testimonials ΘΑ ΓΙΝΕΙ CALL TO ACTION ΓΙΑ ΝΑ ΓΡΑΦΤΕΙΣ ΣΤΟ PORTAL [https://marbleguide.com/]-->
<section class="testimonials type-1 background39 parallax3 xdark-bg">
    <!-- Inner -->
    <div class="inner">
        <!-- Quote -->
        <div class="quote white t-center circle light">
            <i class="fa fa-quote-left"></i>
        </div>
        <!-- Slider -->
        <div class="testimonial-slide">
            <!-- Item -->
            <div class="cbp-item">
                <!-- Item Header -->
                <h2 class="t-center light">
                    Be a yardstick of quality. Some people aren't used to an environment where excellence is expected.
                </h2>
                <!-- Item Description -->
                <p class="uppercase light white t-center">Steve Jobs</p>
            </div>
            <!-- Item -->
            <div class="cbp-item">
                <!-- Item Header -->
                <h2 class="t-center light">
                    Remembering that you are going to die is the best way I know to avoid the trap of thinking you have something to lose. You are already naked. There is no reason not to follow your heart.
                </h2>
                <!-- Item Description -->
                <p class="uppercase light white t-center">Steve Jobs</p>
            </div>
            <!-- Item -->
            <div class="cbp-item">
                <!-- Item Header -->
                <h2 class="t-center light">
                    Informed decision-making comes from a long tradition of guessing and then blaming others for inadequate results.
                </h2>
                <!-- Item Description -->
                <p class="uppercase light white t-center">Scott Adams</p>
            </div>
        </div>
        <!-- End Slider -->
    </div>
    <!-- End Inner -->
</section>
<!-- End Testimonials -->
