<footer>
    <span id="year-copy"></span> &copy; <strong><a href="https://1.envato.market/7jd">uAdmin 2.1</a></strong> - Crafted with <i class="fa fa-heart text-danger"></i> by <strong><a href="https://1.envato.market/ydb" target="_blank">pixelcave</a></strong>
</footer>