@{
    Layout = "~/Views/Shared/_CrexisLayout.cshtml";
}


<!-- Login -->
<section id="fullscreen" class="background49Neo sdark-bg fullscreen table no-margin">
    <div class="login white v-center t-center">
        <!-- Form -->
        <form action="#" method="post" class="form login_type t-center pl-10 pr-10 mini-text">
            <!-- Header -->
            <h1 class="t-center light mb-20">
                Welcome
            </h1>
            <!-- Description -->
            <p class="mb-25 white op-08">
                Login for our all Services!
            </p>
            <!-- Username -->
            <input type="text" name="username" id="username" class="strip_form white light block fullwidth op-07" placeholder="Username">
            <!-- Password -->
            <input type="password" name="password" id="password" class="strip_form white light block fullwidth mt-15 op-07" placeholder="Password">
            <!-- Submit -->
            <button type="submit" id="submit" name="submit" class="strip_button white light block fullwidth mt-30 colored-bg pt-18">SEND</button>
            <!-- Signup Text -->
            <h6 class="mt-23 gray-light">
                DON'T HAVE AN ACCOUNT?
            </h6>
            <!-- Signup Button -->
            <a href="#" class="white">
                SIGN UP
                <i class="fa fa-angle-double-right"></i>
            </a>
        </form>
        <!-- End Form -->
    </div>
</section>
<!-- End Shop -->